{%extends "nav_about.html"%}
{%block title%}2025 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2025 General Assembly - Activities report</h1>

<h2>
    What has been done
</h2>
<p>
    The 2025 GA report primarily covers activities during 2024, but will
    also mention some activities happening during 2025.
</p>

<h2>
    Financial/Administration
</h2>
<p>
    The financial report will be presented by the treasurer.
</p>

<h2>2024 Events</h2>

<h3>FOSDEM/PGDay</h3>
<p>
    FOSDEM 2024 took place on February 3rd/4th, along with the separate
    PGDay on the Friday before the main event. PostgreSQL had the usual
    stand during the main event, as well as a full day of devroom sessions.
    The PGDay attracted 120 people.
</p>

<h3>Nordic PGDay</h3>
<p>
    Nordic PGDay was held in Oslo, Norway, in March 2024, and with 117
    attendees. This number is considerably lower than the year before.
</p>

<h3>pgDay.Paris</h3>
<p>
    pgDay.Paris was held in Paris with 141 attendees.
</p>

<h3>PGDay/MED</h3>
<p>
    The second iteration of the Mediterranean conference (PGDay/MED)
    unfortunately was also not a success, and only attracted 16
    attendees.
</p>

<h3>PGConf.DE</h3>
<p>
    PGConf.DE this year was held in Munich, and had 269 attendees which was
    yet again a new record for PGConf.DE.
</p>

<h3>PGDay UK</h3>
<p>
    The conference was once again held in London, and attracted 81
    attendees.
</p>

<h3>
    PGDay Lowlands
</h3>
<p>
    A new conference in the Netherlands, run by PostgreSQL Europe, was held
    in Amsterdam and attracted 104 attendees.
</p>

<h3>PGConf.EU</h3>
<p>
    PGConf.EU was held in Athens, and set another new record with 782
    attendees!
</p>

<h2>2025 events</h2>
<p>
    2025 has been again a year fully packed with events. We&#39;ve seen a
    new event in the PostgreSQL Europe portfolio with PGDay Napoli in
    &hellip; Napoli, Italy. The full details will be in next year&#39;s
    GA.
</p>

<h2>
    Miscellaneous
</h2>

<h3>
    Board Elections
</h3>
<p>
    In the 2024 elections, Magnus Hagander was re-elected to the board, and
    Karen Jex was elected as a new member. PostgreSQL Europe thanks Ilya
    Kosmodemiansky who leaves the board after this election. 5 candidates
    accepted nominations to stand for election.
</p>

<p>
    In the 2025 elections, Andreas Scherbaum was re-elected to the board, 3
    candidates submitted applications.
</p>

<p>
    During 2025, L&aelig;titia Avrot stepped down as treasurer. The board
    appointed Ilya Kosmodemiansky as temporary treasurer.
</p>

<h3>Ongoing work</h3>
<p>
    The PostgreSQL Europe board formed a new Diversity Task Force, which
    started its work and will be an integral part of upcoming conferences
    and other activities.
</p>

{%endblock%}
