{%extends "nav_about.html"%}
{%block title%}2025 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2025 General Assembly - Financial report</h1>

<h2>Disclaimer</h2>
<p>
    This report is an internal one and as precisely as it could be by the
    temporary treasurer who is still in the process of handing affairs over.
    We expect to finalize the report and update our members accordingly,
    after all open items would be done. Current open items are including but
    not limited to:
</p>
<ul>
    <li>1. Getting full access to all the associations assets.</li>
    <li>2. Onboarding new accountants.</li>
    <li>3. Officially closing the financial years 2023 and 2024.</li>
</ul>

<h2>Assets</h2>
<p>
    <table border="1" cellpadding="2">
        <tr>
        <th>Accounts</th>
        <th align="right">2024-01-01</th>
        <th align="right">2024-12-31</th>
        <th align="right">Difference</th>
        </tr>
        <tr>
        <td>Cr&eacute;dit Mutuel checking account</td>
        <td align="right">387,255.39</td>
        <td align="right">84,186.54*</td>
        <td align="right">-303,068.85*</td>
        </tr>
        <tr>
        <td>Cr&eacute;dit Mutuel saving account - 1</td>
        <td align="right">77,389.34</td>
        <td align="right">77,389.34</td>
        <td align="right">0.00**</td>
        </tr>
        <tr>
        <td>Cr&eacute;dit Mutuel saving account - 2</td>
        <td align="right">65,143.82</td>
        <td align="right">65,143.82</td>
        <td align="right">0.00**</td>
        </tr>
        <tr>
        <td>Paypal account</td>
        <td align="right">1,891.07</td>
        <td align="right">3,417.55</td>
        <td align="right">1,526.48</td>
        </tr>
        <tr>
        <td>Adyen account</td>
        <td align="right">30,500.00</td>
        <td align="right">3,547.10</td>
        <td align="right">-26,952.90</td>
        </tr>
        <tr>
        <td>Trustly account</td>
        <td align="right">5,909.14</td>
        <td align="right">2,415.00</td>
        <td align="right">-3,494.14</td>
        </tr>
        <tr>
        <td>TransferWise account</td>
        <td align="right">1,471.45</td>
        <td align="right">22,696.21</td>
        <td align="right">21,224.76</td>
        </tr>
        <tr>
        <td>Pending payments</td>
        <td align="right">119.00</td>
        <td align="right">110.00</td>
        <td align="right">-9.00</td>
        </tr>
        <tr>
        <th>TOTAL</th>
        <td align="right">427,146.05</td>
        <td align="right">116,372.40</td>
        <td align="right">-310,773.65</td>
        </tr>
    </table>
</p>
<p>
    (*) Exact balance must be confirmed after closing the year 2024<br />(**) Exact interest rate must be confirmed
</p>

<h2>Activities</h2>
<p>
    Finances are good. We are progressing with the move to new accountants
    but are still bound to the old ones for the year 2023. This transition
    wasn&rsquo;t finalized in 2024. We have a comfortable buffer of money we
    can use to experiment with small events in different places.
</p>
<h2>
    Income/Expences
</h2>
<p>
    The important items of 2024 are summarized here.
</p>
<p>
    <table border="1" cellpadding="2">
        <tr>
        <th>Items</th>
        <th align="right">Income</th>
        <th align="right">Expenses</th>
        <th align="right">Final results</th>
        </tr>
        <tr>
        <td>Membership</td>
        <td align="right">850.00</td>
        <td align="right">0.00</td>
        <td align="right">850.00</td>
        </tr>
        <tr>
        <td>Merchandise</td>
        <td align="right">14,720.84</td>
        <td align="right">-10,842.49</td>
        <td align="right">3,878.35</td>
        </tr>
        <tr>
        <td>Conferences</td>
        <td align="right">585460.65</td>
        <td align="right">-599648.27</td>
        <td align="right">-14,187.62</td>
        </tr>
        <tr>
        <td>Donations</td>
        <td align="right">1,479.05</td>
        <td align="right">0.00</td>
        <td align="right">1,479.05</td>
        </tr>
        <tr>
        <td>Financial</td>
        <td align="right">956.87</td>
        <td align="right">-10,574.56</td>
        <td align="right">-9,617.69</td>
        </tr>
        <tr>
        <td>Insurance</td>
        <td align="right">0.00</td>
        <td align="right">-1,016.44</td>
        <td align="right">-1,016.44</td>
        </tr>
        <tr>
        <td>Taxes</td>
        <td align="right">0.00</td>
        <td align="right">-7,624.00</td>
        <td align="right">-7,624.00</td>
        </tr>
        <tr>
        <td>Legals</td>
        <td align="right">0.00</td>
        <td align="right">0.00</td>
        <td align="right">0.00</td>
        </tr>
        <tr>
        <td>Others</td>
        <td align="right">0.00</td>
        <td align="right">-12,486.10</td>
        <td align="right">-12,486.10</td>
        </tr>
        <tr>
        <td>VAT not claimed yet</td>
        <td align="right">0.00</td>
        <td align="right">72,433.35</td>
        <td align="right">72,433.35</td>
        </tr>
        <tr>
        <th>TOTAL</th>
        <td align="right">603,467.41</td>
        <td align="right">-559,183.95</td>
        <td align="right">43,326.59</td>
        </tr>
    </table>
</p>

<p>
    Conferences were profitable overall for the year 2024.
</p>
<p>
    <table border="1" cellpadding="2">
        <tr>
        <th>Event</th>
        <th align="right">Income</th>
        <th align="right">Expenses</th>
        <th align="right">Other costs</th>
        <th align="right">Results</th>
        </tr>
        <tr>
        <td>fosdem2024</td>
        <td align="right">12,967.28</td>
        <td align="right">-16,538.09</td>
        <td align="right">-134.55</td>
        <td align="right">-3,705.36</td>
        </tr>
        <tr>
        <td>nordicpgday2024</td>
        <td align="right">18,528.00</td>
        <td align="right">-16,135.90</td>
        <td align="right">-264.36</td>
        <td align="right">2,127.74</td>
        </tr>
        <tr>
        <td>pgconfde2024</td>
        <td align="right">67,729.29</td>
        <td align="right">-65,501.97</td>
        <td align="right">-971.82</td>
        <td align="right">1,255.50</td>
        </tr>
        <tr>
        <td>pgdayparis2024</td>
        <td align="right">26,784.75</td>
        <td align="right">-24,605.21</td>
        <td align="right">-404.20</td>
        <td align="right">1,775.34</td>
        </tr>
        <tr>
        <td>pgconfeu2024</td>
        <td align="right">434,915.34</td>
        <td align="right">-338,483.72</td>
        <td align="right">-7178.37</td>
        <td align="right">89,253.25</td>
        </tr>
        <tr>
        <td>pgdaynl2024</td>
        <td align="right">20,087.10</td>
        <td align="right">-17,397.32</td>
        <td align="right">-202.10</td>
        <td align="right">2,487.68</td>
        </tr>
        <tr>
        <td>pgday MED 2024</td>
        <td align="right">1,036.87</td>
        <td align="right">-7,017.48</td>
        <td align="right">-39.73</td>
        <td align="right">-6,020.34</td>
        </tr>
        <tr>
        <th colspan="4">TOTAL</th>
        <td>87,173.81</td>
        </tr>
    </table>
</p>

<p>
    PGDay UK is also run under the PostgreSQL Europe umbrella, but is
    organised and run under agreement by Slonik Enterprises Ltd, a private
    limited company in the UK owned and run by Dave Page and Devrim Gunduz
    on a not for profit basis. PostgreSQL Europe pays a management fee for
    each event to cover costs of running the company, and provides bootstrap
    funding to enable the payment of venue deposits etc. All proceeds are
    returned to PostgreSQL following the end of the event.
</p>

<p>
    In 2024, PostgreSQL Europe paid Slonik Enterprises &pound;2000.00 for
    the management fee, and &pound;6,720.00 to cover the venue deposit.
    Slonik Enterprises returned &pound;11,003.27 at the end of the event; a
    positive result of &pound;2,283.27.
</p>



{%endblock%}
