{%extends "navbase.html"%}
{%block navsection%}Diversity{%endblock%}
{%block navblock%}
<li><a href="/diversity">Diversity Task Force</a></li>
<li><a href="/diversity/diversity_committee">Diversity Committee</a></li>
<li><a href="/diversity/join_diversity_committee">Join the Committee</a></li>
<li><a href="/diversity/diversity_for_event_orgs">For Event Organisers</a></li>
<li><a href="/diversity/travel_scholarship">Travel Scholarships</a></li>
<li><a href="/diversity/diversity_task_force">Origins</a></li>
<li><a href="/diversity/diversity_logo/">Logo</a></li>
<li><a href="/diversity/diversity_reports">Diversity Committee Reports</a></li>
<li><a href="/diversity/hd_sunflower">Hidden Disability Sunflower</a></li>
{%endblock%}