{%extends "nav_about.html"%}
{%block title%}2021 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2021 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2021/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2020 Events</h3>
<p>
Due to the Covid-19 pandemic, in 2020 the only events arranged were
FOSDEM PGDay and the FOSDEM Devroom. All other events were canceled or
postponed.
</p>

<h4>FOSDEM/PGDay</h4>
<p>
The 8th annual one-track PGDay just before FOSDEM was still a
successful and well established event with 124 attendees. During
FOSDEM, we had lots of interest at our booth. As usual, our devroom
ended up completely full with far from everyone who wanted to attend
being able to get in.
</p>

<h3>2021 Events</h3>
<p>
PostgreSQL Europe have held no events so far in 2021, and expect to
hold no events for the rest of the year. We participated in the online
FOSDEM devroom, but did not hold a separate PGDay, virtual or
otherwise this year.
</p>

<h4>Upcoming events</h4>
<p>
At this point, all upcoming events are uncertain. We hope to e able to
hold at least a Nordic PGDay and a pgDay.Paris in the spring of 2021,
and that PGConf.EU will be able to make a return after summer.
</p>

<h3>Miscellaneous</h3>

<h4>New board member</h4>

<p>
We welcome Ilya Kosmodemiansky as a new board member. His position is Vice Treasurer.
</p>

<p>
We'd like to thank Julien Rouhaud his work as Vice Treasurer.
</p>

<h3>Ongoing work</h3>

<h4>New address</h4>

<p>
The work to find a new address to make it easier to contact us is still ongoing.
</p>

<h4>Tax representatives</h4>
<p>
We still have major issues on foreign taxes. A solution might be to get tax representatives in foreign countries. We are still working on this to resolve this issue.
</p>

<h4>Trademark disputes</h4>
<p>
As has been mentioned in the EGA, there have been ongoing work to
defend the trademarks that we hold, together with PostgreSQL Community
Association of Canada. This work is still ongoing.
</p>

{%endblock%}
