{%extends "nav_about.html"%}
{%block title%}2021 General Assembly - Financial report{%endblock%}
{%block content%}
<h1 id="general-assembly---financial-report">2021 General Assembly - Financial report</h1>
<h2 id="assets">Assets</h2>
<table>
<thead>
<tr class="header">
<th><strong>Accounts</strong></th>
<th style="text-align: right;"><strong>2020-01-01</strong></th>
<th style="text-align: right;"><strong>2020-12-31</strong></th>
<th><strong>Difference</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Crédit Mutuel checking account</td>
<td style="text-align: right;">178,319.71</td>
<td style="text-align: right;">50,262.69</td>
<td>-128,057.02</td>
</tr>
<tr class="even">
<td>Crédit Mutuel saving account - 1</td>
<td style="text-align: right;">62,673.60</td>
<td style="text-align: right;">63,143.65</td>
<td>470.05</td>
</tr>
<tr class="odd">
<td>Crédit Mutuel saving account - 2</td>
<td style="text-align: right;">10,082.92</td>
<td style="text-align: right;">10,110.63</td>
<td>27.71</td>
</tr>
<tr class="even">
<td>Paypal account</td>
<td style="text-align: right;">2,650.21</td>
<td style="text-align: right;">4,107.51</td>
<td>1,457.30</td>
</tr>
<tr class="odd">
<td>Adyen account</td>
<td style="text-align: right;">1,500.00</td>
<td style="text-align: right;">7,181.18</td>
<td>5,681.18</td>
</tr>
<tr class="even">
<td>Trustly account</td>
<td style="text-align: right;">595.17</td>
<td style="text-align: right;">810.17</td>
<td>215.00</td>
</tr>
<tr class="odd">
<td>TransferWise account</td>
<td style="text-align: right;">2,664.38</td>
<td style="text-align: right;">348.98</td>
<td>-2,315.40</td>
</tr>
<tr class="even">
<td><em>Total</em></td>
<td style="text-align: right;"><em>258,485.99</em></td>
<td style="text-align: right;"><em>135,964.81</em></td>
<td><em>-122521.18</em></td>
</tr>
</tbody>
</table>
<h2 id="major-items">Major items</h2>
<h3 id="activities">Activities</h3>
<p>The two saving accounts have not been used during 2020 since we had enough buffer money on the regular account.</p>
<p>We are working to get tax representatives in foreign countries (foreign meaning not-France) and replace the accounting firm.</p>
<h3 id="incomeexpenses">Income/Expenses</h3>
<p>The important items of 2020 are summarized here.</p>
<table>
<thead>
<tr class="header">
<th><strong>Items</strong></th>
<th><strong>Income</strong></th>
<th><strong>Expenses</strong></th>
<th><strong>Final results</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Membership</td>
<td>830</td>
<td>0</td>
<td>830</td>
</tr>
<tr class="even">
<td>Donations</td>
<td>3,884</td>
<td>0</td>
<td>3,884</td>
</tr>
<tr class="odd">
<td>Book royalties</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr class="even">
<td>Conferences</td>
<td>-3,522.36</td>
<td>-97586.49</td>
<td>-101108.85</td>
</tr>
<tr class="odd">
<td>Merchandise</td>
<td>3,447.03</td>
<td>-2,468.22</td>
<td>978.81</td>
</tr>
<tr class="even">
<td>Financial</td>
<td>339.64</td>
<td>-1,142.62</td>
<td>-802.98</td>
</tr>
<tr class="odd">
<td>Insurance</td>
<td>0</td>
<td>-246.73</td>
<td>-246.73</td>
</tr>
<tr class="even">
<td>Taxes</td>
<td>0</td>
<td>-7315</td>
<td>-7315</td>
</tr>
<tr class="odd">
<td>Legals</td>
<td>0</td>
<td>-9,809.1</td>
<td>-9,809.1</td>
</tr>
<tr class="even">
<td><em>Total</em></td>
<td><em>4,978.31</em></td>
<td><em>-118,568.16</em></td>
<td><em>-113,589.85</em></td>
</tr>
</tbody>
</table>
<p>The financial results for our events can be seen broken down per event in the table below. FOSEM PGDay 2020 is the only event that was not canceled. For Nordic PGDay 2020 and PGDay Paris 2020, expenses will be deducted from the invoice for the 2022 events. For PGConf.EU, 50,000€ are lost and 50,000€ will be deducted from the 2022 event.</p>
<table>
<thead>
<tr class="header">
<th><strong>Event</strong></th>
<th style="text-align: right;"><strong>Income</strong></th>
<th style="text-align: right;"><strong>Expenses</strong></th>
<th style="text-align: right;"><strong>Other costs</strong></th>
<th style="text-align: right;"><strong>Balance</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>FOSDEM/PGDay 2020</td>
<td style="text-align: right;">4,234.64</td>
<td style="text-align: right;">-14,351.52</td>
<td style="text-align: right;">-122.94</td>
<td style="text-align: right;">-10,239.82</td>
</tr>
<tr class="even">
<td>Nordic PGDay 2020</td>
<td style="text-align: right;">3,664.52</td>
<td style="text-align: right;">-9,480</td>
<td style="text-align: right;">-155.44</td>
<td style="text-align: right;">-5,970.92</td>
</tr>
<tr class="odd">
<td>PGConf.DE 2020</td>
<td style="text-align: right;">2245</td>
<td style="text-align: right;">0</td>
<td style="text-align: right;">-104.68</td>
<td style="text-align: right;">2,140.32</td>
</tr>
<tr class="even">
<td>PGDay Paris 2020</td>
<td style="text-align: right;">5,708.33</td>
<td style="text-align: right;">-8,921.26</td>
<td style="text-align: right;">-360.51</td>
<td style="text-align: right;">-3,573.44</td>
</tr>
<tr class="odd">
<td>PGConf.EU 2020</td>
<td style="text-align: right;">0</td>
<td style="text-align: right;">-100,000</td>
<td style="text-align: right;">-96.84</td>
<td style="text-align: right;">-100,096.84</td>
</tr>
<tr class="even">
<td></td>
<td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;"><em>Total</em></td>
<td style="text-align: right;"><em>-117,740.7</em></td>
</tr>
</tbody>
</table>
{%endblock%}
