{%extends "nav_events.html"%}
{%block title%}Talk Recording and Streaming Policy{%endblock%}
{%block content%}
<h1>Talk Recording and Streaming Policy</h1>

<h2>Introduction</h2>
<p>
Talks at PostgreSQL events may be recorded or streamed live to enable those who are unable to attend the event to learn and benefit from the expertise and experiences of our speakers. If the organisers of a PostgreSQL Europe supported event opt to record or stream their talks, they MUST follow this policy.
</p>

<h2>General Requirements</h2>
<ul>
    <li>Attendee registration MUST include a policy (that the attendee is required to accept) for the event that warns the attendee that recording or streaming will take place, and that only a best-effort can be made to follow any "no photographs" requests made by the attendee through the wearing of a red lanyard or other means. A sample policy section is shown below.</li>
    <li>All speakers MUST have their consent to recording of streaming logged in the conference management system. If consent is not provided, the speaker's session MUST not be streamed, and SHOULD not be recorded. In the event that the session is recorded, it MUST not be published without their consent first being obtained and logged in the conference management system.</li>
    <li>All recordings or event streams MUST be published through the official PostgreSQL Europe video channels (<a href="https://www.youtube.com/@pgeu">www.youtube.com/@pgeu</a> at the time of writing). Use of other channels MUST be approved in advance of the event by the Board of PostgreSQL Europe.</li>
</ul>

<h2>Additional Streaming Requirements</h2>
<p>
When streaming talks, a 20-30 second transmission delay MUST be included. A member of the conference team MUST monitor all talks as they are presented, and in the event that anything unexpected or undesirable happens (for example, a political protest), immediately instruct the technical staff to switch the stream to a pre-prepared "technical difficulties" slide, and mute the audio feed.
</p>

<p>
If a live chat is included on the streaming platform, a member of the conference team MUST actively moderate the chat throughout the event, to ensure that the Code of Conduct is followed.
</p>

<h2>Sample Policy</h2>
<p>
<code>
<h3>Red lanyards</h3>
<br/>
<p>
PGDay Elbonia operates a "Red Lanyard" scheme that is designed to help you maintain your privacy at our events. When you collect your badge upon arrival at the conference, you will be able to select either a red or blue lanyard. Choosing a red lanyard will indicate to the event organisers and other attendees that you do not wish to have your photograph taken and posted on social media or on other public sites.
</p>
<p>
We will make every effort to honour your wishes, and we ask all attendees to do the same. It is, however, a "best effort" system and sometimes a red lanyard may not be spotted before a picture is posted publicly. In cases where this happens, please reach out to either the person who posted the picture or to the conference organisers to request that the picture be removed.
</p>
<p>
It should also be noted that we will be video recording some of the talks. If you ask the speaker a question, walk through the room during the talk, or turn towards the camera; your image may be captured on video and subsequently published. If you are concerned about this, please ensure you choose a seat that is unlikely to be seen on camera (it will be focussed on the speaker), and wait until after the session has ended to ask any questions.
</p>
</code>
</p>

{%endblock%}