{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>PostgreSQL Europe Diversity Committee</h1>
<img alt="PostgreSQL Europe Diversity Committee logo"
     src="/media/local/img/diversity_logo.png" />
<p>The PostgreSQL Europe Diversity Committee exists because it is important to
  us that everyone feels welcomed and valued within the PostgreSQL Europe
  community. We also know that a diverse community brings a range of viewpoints,
  skills and expertise that is essential to the ongoing success of the PostgreSQL
  project.</p>
<h2>Goals</h2>
<p><b>The main goal of the Diversity Committee is to improve diversity and
  inclusion within the PostgreSQL Europe community.</b></p>
<p>The committee is responsible for managing diversity initiatives and
  activities such as providing financial and other support for underrepresented
  groups, and ensuring that the community offers a welcoming, inclusive
  environment that fosters productive engagement between individuals.</p>
<h2>Current Activities</h2>
<ol>
  <li><b>Outreach & Community Engagement</b>
    <ul>
      <li>Connect with underrepresented groups.</li>
      <li>Build partnerships with diversity-supporting organisations.</li>
      <li>Support mentorship and onboarding programs.</li>
    </ul>
  </li>
  <li><b>Event Support & Representation</b>
    <ul>
      <li>Promote diversity among speakers and participants.</li>
      <li><a href="/diversity/diversity_for_event_orgs">Advise organisers</a> on inclusivity.</li>
      <li>Make <a href="/diversity/travel_scholarship">travel scholarships</a>
        available for underrepresented contributors.</li>
    </ul>
  </li>
  <li><b>Internal Advocacy</b>
    <ul>
      <li>Represent diversity perspectives in community decisions.</li>
      <li>Propose updates to guidelines and codes of conduct.</li>
      <li>Integrate diversity into PostgreSQL Europe strategies.</li>
    </ul>
  </li>
  <li><b>Communication & Awareness</b>
    <ul>
      <li>Share educational resources and best practices.</li>
      <li>Raise awareness via social media and talks.</li>
      <li>Support panels and discussions on diversity topics.</li>
    </ul>
  </li>
  <li><b>Monitoring & Reporting</b>
    <ul>
      <li>Define measurable diversity goals.</li>
      <li>Publish updates and annual reports.</li>
      <li>Gather and act on community feedback.</li>
    </ul>
  </li>
  <li><b>Hidden Disabilities Sunflower</b><br />
    <ul>
      <li>PostgreSQL Europe is an official member of the
        <a href="/diversity/hd_sunflower">Hidden Disability Sunflower.</a></li>
      <li><a href="https://2025.pgconf.eu">PostgreSQL Conference Europe 2025</a>
        was the first Sunflower-friendly PostgreSQL Europe event.</li>
      <li>If you're organising a PostgreSQL Europe event, contact the Diversity
        Committee to find out about becoming Sunflower-friendly.</li>
    </ul>
  </li>
</ol>
<h2>The Committee</h2>
<p>Meet the <a href="/diversity/diversity_committee">Diversity Committee.</a></p>
<p><b>Join us on the Diversity Committee!</b> Find out how <a href="/diversity/join_diversity_committee">here.</a></p>
<p>The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>, 
  and you can keep up to date on our work by following us on:</p>
<ul>
  <li>LinkedIn (<a href="https://www.linkedin.com/showcase/postgresql-europe-diversity-task-force">PostgreSQL Europe Diversity Committee</a>)</li>
  <li>Mastodon (<a href="https://hachyderm.io/@PostgreSQLEuropeDiversity">@PostgreSQLEuropeDiversity@hachyderm.io</a>)</li>
  <li>Bluesky (<a href="https://bsky.app/profile/pgeudiversity.bsky.social">@pgeudiversity.bsky.social</a>)</li>
</ul>
<h2>Creating the Diversity Committee</h2>
<p>You can read here about the 
  <a href="/diversity/diversity_task_force">Diversity Task Force</a> that was
  created in 2024 to set up the Diversity Committee.</p>
<h2>The Diversity Committee Logo</h2>
<p>Find out about how our <a href="/diversity/diversity_logo/">Logo</a> was created.</p>
{%endblock%}