{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Task Force</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />

<p>Last updated: 14 September 2025</p>

<p>
  We have created a Diversity Task Force because it is important to us that everyone
  feels welcomed and valued within the PostgreSQL Europe community. We also know
  that a diverse community brings a range of viewpoints, skills and expertise that
  is essential to the ongoing success of the PostgreSQL project.
</p>

<p><b>
  The goal of the Diversity Task Force is to put in place initiatives to
  support diversity and inclusion within the PostgreSQL Europe community.
</b></p>

<p>
  The work of the Diversity Task Force is overseen by the
  <a href="/diversity/diversity_committee">Diversity Committee.</a>
</p>
<p>
  The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>, 
  and you can keep up to date on the Committee's work by following us on
</p>
<p>
  LinkedIn (<a href="https://www.linkedin.com/showcase/postgresql-europe-diversity-task-force">PostgreSQL Europe Diversity Task Force</a>),
  Mastodon (<a href="https://hachyderm.io/@PostgreSQLEuropeDiversity">@PostgreSQLEuropeDiversity@hachyderm.io</a>) or
  Bluesky (<a href="https://bsky.app/profile/pgeudiversity.bsky.social">@pgeudiversity.bsky.social</a>).
</p> 
<p>The work of the task force is taking place in two (overlapping) phases:</p>

<h2>Phase 1: Research</h2>
<p>
  The goal of the initial research phase is to define the specific objectives
  of the task force. In particular:</p>

<p>
  <ul>
    <li>Identify the areas in which improvement is most needed.</li>
    <li>Ask the community to share their expectations with us.</li>
    <li>Agree (with the PostgreSQL Europe board) an initial budget for the work.</li>
    <li>Identify metrics that can be used to measure the progress made towards
        each of the objectives.</li>
  </ul>
</p>

<h2>Phase 2: Implementation</h2>

<p>
  During the second phase, we are putting in place the necessary structures that will
  allow us to work towards the objectives that were identified in the research phase.
</p>

<p>
  This phase involves activities such as:
</p>

<p>
  <ul>
    <li>Creating specific groups or project teams.</li>
    <li>Setting up diversity funds.</li>
    <li>Implementing rules and/or guidelines for community events.</li>
    <li>Collaborating with other groups that have similar goals (for example the
        <a href="https://postgresql.us/diversity/">United States PostgreSQL
        Association Diversity Committee</a>).</li>
    <li>Taking inspiration from, and creating links with, other communities.</li>
  </ul>
</p>

<p>
  Members of the community with relevant expertise and/or interest are invited
  to help with these tasks.
</p>

<h2>Our Commitments</h2>

<p>
  <ul>
    <li>The task force will share regular updates with the community during the
        entire process.</li>
    <li>Although the task force itself is temporary, the initiatives put
        in place will be long term.</li>
  </ul>
</p>

{%endblock%}