{%extends "nav_community.html"%}
{%block title%}Donate{%endblock%}
{%block content%}
<h1>Donate</h1>

<p>
PostgreSQL Europe appreciates all donations from individuals and
companies in, or outside of, Europe. Large or small, everything
is appreciated. For those who wish to pay a bit more and get some
more in return, we also have sponsorship opportunities for the
<a href="/events/">events we organize</a>.
</p>

<h2>What will my donation be used for?</h2>
<p>
All donations received by PostgreSQL Europe will be used to help promote
PostgreSQL in and around Europe. This includes, but is not limited to:
</p>
<ul>
 <li>Arranging the PGConf.EU and FOSDEM PGDay European PostgreSQL conferences</li>
 <li>Assisting and arranging local PostgreSQL events</li>
 <li>Promotional merchandise (t-shirts, elephants, pins, flyers etc)</li>
</ul>

<h2>Donate now!</h2>
<p>
PostgreSQL Europe is a registered non-profit organisation in France.
This may mean your donation is tax-deductible in your country.
</p>

<h3>Donating using Paypal</h3>
<p>
To donate to PostgreSQL Europe using Paypal, send money to <i>paypal@postgresql.eu</i>.
</p>

<h3>Donating using bank transfer</h3>
<p>
  If you wish to make a donation using a bank transfer, please contact
  us at <i>treasurer@postgresql.eu</i> and we will provide you with the
  information required to make a transfer.
</p>

{%endblock%}
