{%extends "nav_community.html"%}
{%block title%}Community User Group Recognition Guidelines{%endblock%}
{%block content%}
<h1>PostgreSQL Europe Community User Group Recognition Guidelines</h1>

<p>
Use of the terms “must”, “must not”, “should” and “should not” in the criteria below should be interpreted per <a href="https://www.ietf.org/rfc/rfc2119.txt">RFC2119</a>.
</p>


<h2>General</h2>
<ul>
  <li>The Community User Group must be primarily focused on PostgreSQL, and related technologies. User Groups that target a broad range of database products are not considered Community User Groups in this context.</li>
  <li>The PostgreSQL Europe Board reserves the right to recognise, not recognise, or rescind a previous recognition for any Community User Group without justification.</li>
  <li>Community User Groups are for the entire PostgreSQL community and are public in nature. Anyone may attend and there must not be any requirement for a Non-Disclosure Agreement (NDA) or similar contract for an attendee to attend the event.</li>
  <li>The Community User Group must adopt and follow an appropriate Code of Conduct to ensure a safe and enjoyable environment for anyone who wishes to attend. PostgreSQL Europe suggests, but does not require, that one based on the PGConf.EU Code of Conduct is used if there are no special reasons to use a different one.</li>
  <li>The Community User Group must have at least one event every three months in a calendar year in order to maintain its recognition as a Community User Group.</li>
  <li>These criteria may be reviewed and potentially updated at any time.</li>
</ul>


<h2>Admin Team</h2>
<ul>
  <li>The Community User Group admin team must be listed on the membership site for the user group. A corporate organisation cannot be an administrator.</li>
  <li>Anyone can submit a PostgreSQL-related talk proposal. The admin team may choose to accept or reject the talk proposal based on a simple majority vote.</li>
  <li>The admin team may choose, by simple majority vote, to invite a speaker of their choice to present a topic of their choice.</li>
  <li>Anyone may offer to host a Community User Group in the area where the group usually meets. The admin team may choose to accept or reject the space based on a simple majority vote.</li>
  <li>At least one member of the admin team must be present at every Community User Group. The admin team must not be expanded temporarily to work around this rule.</li>
</ul>


<h2>Sponsorship</h2>
<ul>
  <li>Anyone may sponsor a Community User Group event by providing a room, technical equipment, or food. Event sponsors may promote their business, if their business will help drive further adoption of PostgreSQL, and the majority of the admin team has approved the sponsorship.</li>
  <li>Any speaker may promote their business at the Community User Group event, if their business will help drive further adoption of PostgreSQL, the content presented at the event is technical in nature, and the majority of the admin team has approved the topic of the talk.</li>
  <li>Any participant of the Community User Group may offer jobs to any other participant at the Community User Group event.</li>
  <li>The Admin Team must disclose to the Community User Group what person or organization is paying for the Community User Group account as well as any Sponsors along with their sponsorship.</li>
  <li>Sponsors for a Community User Group event should be mentioned in the announcement of the User Group meeting.</li>
</ul>

{%endblock%}
