{%extends "nav_about.html"%}
{%block title%}2023 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2023 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<p>
The 2022 GA report primarily covers activities during 2022, but will
also mention some happenings during 2023.
</p>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2023/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2022 Events</h3>
<p>
We're finally back from the Covid-19 Pandemic and were able to resume
our in-peson events!
</p>

<h4>FOSDEM</h4>
<p>
FOSDEM was not back in person yet, so the separate PGDay was canceled.
As the year before, PostgreSQL Europe participated
virtually in FOSDEM with a virtual devroom. Plenty of interest was
seen, but it's of course not the same as the full in-person event,
and as this was just at the limit of people starting to return to in-person
events it was very clear that it was not "what it used to be".
</p>

<h4>Nordic PGDay</h4>
<p>
  Nordic PGDay was held in Helsinki, Finland, with 82 attendees. While a bit lower than
  normal, we were very happy to be the first PostgreSQL Europe conference to return
  to in-person.
</p>

<h4>pgDay.Paris</h4>
<p>
  pgDay.Paris was held, unsurprisingly, in Paris with 150 attendees, and
  was the first conference back to sell out all tickets.
</p>

<h4>PGConf.DE</h4>
<p>
  PGConf.DE this year was held in Leipzig, and had 151 attendees. Slightly
  fewer than the year before, but still a solid return after the pandemic.
</p>

<h4>PGConf.EU</h4>
<p>
  PGConf.EU returned to Berlin (the venue originally scheduled for
  2020 that was postponed because of Covid-19), and set a new
  attendance record with 604 attendees!
</p>

<h3>2023 events</h3>
<p>
  2023 has so far seen a full return of all of our regular events, including
  FOSDEM and the PGDay. We also saw a brand new event in PGDay/MED in April.
  PGConf.EU will happen in December to close out our series of conferences.
  As normal, the full details will be in next years GA.
</p>

<h3>Miscellaneous</h3>

<h4>Board Elections</h4>

<p>
In the 2022 elections, there was a tie between Andreas Scherbaum and
Pavlo Golub. Per the statutes, a second election was held and in this
election Andreas Scherbaum won by one vote, and remains on the board.
</p>

<p>
 In the 2023 elections, Dave Page and Lætitia Avrot were voted in to remain
 on the board.
</p>

<h3>Ongoing work</h3>

<h4>New address</h4>

<p>
The work to find a new address to make it easier to contact us is still ongoing. The address has now been
set up, and we are registering it with the authorities, which require a minor change to our statutes.
</p>

<h4>Trademark disputes</h4>
<p>
Our trademark defense process is still in progress, together with the
PostgreSQL Community Association of Canada. Some important steps have
gone in our direction, but the process is still ongoing.
</p>

{%endblock%}
