{%extends "nav_about.html"%}
{%block title%}2023 General Assembly - Financial report{%endblock%}
{%block content%}
<h1 id="general-assembly---financial-report">2023 General Assembly - Financial report</h1>
<h2 id="assets">Assets</h2>
<table border="1" cellpadding="2">
<thead>
  <tr class="header">
  <tr>
    <th><strong>Accounts</strong></th>
    <th><strong>2022-01-01</strong></th>
    <th><strong>2022-12-31</strong></th>
    <th><strong>Difference</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Crédit Mutuel checking account</td>
    <td>21 398.93</td>
    <td>101 212.42</td>
    <td>79 813.49</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 1</td>
    <td>63 472.76</td>
    <td>76 500.00</td>
    <td>13 027.24</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 2</td>
    <td>10 121.16</td>
    <td>65 131.28</td>
    <td>55 010.12</td>
  </tr>
  <tr>
    <td>Paypal account</td>
    <td>2 750.03</td>
    <td>5 734.03</td>
    <td>2 984.00</td>
  </tr>
  <tr>
    <td>Adyen account</td>
    <td>15 020.01</td>
    <td>25 500.00</td>
    <td>10 479.99</td>
  </tr>
  <tr>
    <td>Trustly account</td>
    <td>810.17</td>
    <td>2 779.17</td>
    <td>1 969.00</td>
  </tr>
  <tr>
    <td>TransferWise account</td>
    <td>5 577.04</td>
    <td>7 174.45</td>
    <td>1 597.41</td>
  </tr>
  <tr>
    <td>Pending payments</td>
    <td>10.00</td>
    <td>9.00</td>
    <td>- 1.00</td>
  </tr>
  <tr>
    <td>Adyen pending income</td>
    <td>0.00</td>
    <td>9.28</td>
    <td>9.28</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>119 160.10</td>
    <td>284 040.35</td>
    <td>164 889.53</td>
  </tr>
</tbody>
</table>
<h2 id="major-items">Major items</h2>
<h3 id="activities">Activities</h3>
<p>We were able to add money to the saving accounts during 2022 as our events were beneficiary due to most of the payments being made pre-covid. The events in 2022 were very good and crowded.</p>
<p>We plan to replace the accounting firm from the 1st of January 2024.</p>
<h3 id="incomeexpenses">Income/Expenses</h3>
<p>The important items of 2022 are summarized here.</p>
<p>The balance for taxes is in our favor as we lost money in 2020 and so, the benefits we made in 2021 were canceled by the year 2020. As we paid taxes in 2021, they reimbursed us in 2022.</p>
<p>Legal fees were less important this year as it was Postgres Community Association of Canada turn to take most of them.</p>
<table border="1" cellpadding="2">
<thead>
  <tr>
    <th><strong>Items</strong></th>
    <th align="right"><strong>Incomes</strong></th>
    <th align="right"><strong>Expenses</strong></th>
    <th align="right"><strong>Final results</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Membership</td>
    <td>700.00</td>
    <td>0.00</td>
    <td>700.00</td>
  </tr>
  <tr>
    <td>Merchandise</td>
    <td>2 536.96</td>
    <td>-3 871.59</td>
    <td>-1 334.63</td>
  </tr>
  <tr>
    <td>Conferences</td>
    <td>360 180.40</td>
    <td>-217 381.74</td>
    <td>142 798.66</td>
  </tr>
  <tr>
    <td>Donations</td>
    <td>632.34</td>
    <td>0.00</td>
    <td>632.34</td>
  </tr>
  <tr>
    <td>Financial</td>
    <td>327.48</td>
    <td>-6 069.45</td>
    <td>-5 741.97</td>
  </tr>
  <tr>
    <td>Insurance</td>
    <td>0.00</td>
    <td>- 870.66</td>
    <td>- 870.66</td>
  </tr>
  <tr>
    <td>Taxes</td>
    <td>10 915.00</td>
    <td>0.00</td>
    <td>10 915.00</td>
  </tr>
  <tr>
    <td>Legal fees</td>
    <td>0.00</td>
    <td>-1 939.64</td>
    <td>-1 939.64</td>
  </tr>
  <tr>
    <td>Other</td>
    <td>360.00</td>
    <td>-4 829.57</td>
    <td>-4 469.57</td>
  </tr>
  <tr>
    <td>VAT not claimed yet</td>
    <td>24200</td>
    <td>0</td>
    <td>24200</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>399 852.18</td>
    <td>-234 962.65</td>
    <td>164 889.53</td>
  </tr>
</tbody>
</table>
<p>The financial results for our events from 2022 can be seen broken down per event in the table below.
In 2022, PGDay Paris did not spend a lot of money as the venue was already paid before COVID. Therefore, we do have an artificial high revenue for this event. Same thing for Nordic PGDay 2022.
</p>
<table border="1" cellpadding="2">
<thead>
  <tr>
    <th><strong>Event</strong></th>
    <th align="right"><strong>Income</strong></th>
    <th align="right"><strong>Expenses</strong></th>
    <th align="right"><strong>Other costs</strong></th>
    <th align="right"><strong>Balance</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Nordic PGDay 2022</td>
    <td>13 499.24</td>
    <td>-1 867.54</td>
    <td>- 234.91</td>
    <td>11 396.79</td>
  </tr>
  <tr>
    <td>PGDay Paris 2022</td>
    <td>21 489.11</td>
    <td>- 736.95</td>
    <td>- 432.75</td>
    <td>20 319.41</td>
  </tr>
  <tr>
    <td>PGConf.de 2022</td>
    <td>26 560.00</td>
    <td>-15 161.21</td>
    <td>- 219.34</td>
    <td>11 179.45</td>
  </tr>
  <tr>
    <td>PGConf.eu 2022</td>
    <td>303 214.35</td>
    <td>-182 394.43</td>
    <td>-4 162.19</td>
    <td>116 657.73</td>
  </tr>
  <tr>
    <td colspan="4">TOTAL</td>
    <td>159 553.38</td>
  </tr>
</tbody>
</table>
{%endblock%}
