{%extends "nav_about.html"%}
{%block title%}2019 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2019 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2019/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2018 Events</h3>
<p>
2018 saw a good number of events which were either organized by, or with the
support from PostgreSQL Europe. In total, we had 1507 registered attendees at
this year's events which we are very happy about. We almost doubled the number
of attendees. This is mostly thanks to PGDay Istanbul, a new event, though
most events got slightly more attendees than last year.
</p>

<h4>FOSDEM/PGDay</h4>
<p>
The sixth annual one-track PGDay just before FOSDEM is still a successful and
well established event with 120 attendees. During FOSDEM, we had lots of
interest at our booth. Unfortunately, our devroom ended up completely full
with far from everyone who wanted to attend being able to get in.
</p>

<h4>Nordic PGDay</h4>
<p>
The fifth iteration of Nordic PGDay followed the same concept as the four
previous years, a single-day single-track conference. In 2018, it was held in
Oslo, Norway, with 109 attendees and 7 talks.
</p>

<h4>pgDay Paris</h4>
<p>
The third iteration of PGDay Paris supported by PostgreSQL Europe followed the
well proven one-day one-track model and attracted 151 attendees (39 more than
last year!).
</p>

<h4>PGConf.DE</h4>
<p>
After another year of absence, PGConf.DE reappeared in Berlin with a
single-day three-track conference with 19 talks. The conference had 178
attendees and got very positive feedbacks.
</p>

<h4>PGConf.EU</h4>
<p>
PGConf.EU broke its attendance record once again. The conference, which was
held in Lisbon, Portugal, had 450 attendees. The event was a success with
overwhelmingly positive feedback.
</p>

<h4>pgDay Istanbul</h4>
<p>
pgDay Istanbul is an event newly supported by PostgreSQL Europe. It is a
single-day two-track conference with 11 talks, and a few lightning talks. The
conference had an overwhelming 499 attendees.
</p>

<h3>2019 Events</h3>
<p>
We are in the middle of 2019, and some events already took place. These events
were organized by, or with the support of PostgreSQL Europe. In total, we have
already had 448 registered attendees at this year's events. This of course, is
great.
</p>

<h4>FOSDEM/PGDay</h4>
<p>
The seventh annual one-track PGDay just before FOSDEM and the FOSDEM
booth/devroom have been quite successful. All talks in our devroom ended up
completely full with far from everyone who wanted to attend being able to get
in.
</p>

<h4>Nordic PGDay</h4>
<p>
In 2019, Nordic PGDay was held in Copenhagen, Denmark, with 130 attendees and
8 talks.
</p>

<h4>pgDay Paris</h4>
<p>In 2019, PGDay Paris attracted 176 attendees.</p>

<h4>PGConf.DE</h4>
<p>
PGConf.DE is back, this time in Leipzig. It uses the same template as last
year, a single-day three-track conference. There were 192 attendees. Another
huge success.
</p>

<h3>Upcoming events</h3>
<p>
PGConf.EU will of course come back again, this year in Milan (Italy). We're
still working on the details. More information will come later.
</p>

<p>
As always, we invite our members who are interested in working on a regional
PGDay to contact us if we can be of any assistance at all, whether just in
answering questions, or through organisational or financial aid. More
information can be found at https://www.postgresql.eu/events. <a
href="/events/">https://www.postgresql.eu/events/</a>.
</p>

<h3>Miscellaneous</h3>

<h4>New board member</h4>

<p>
We welcome Julien Rouhaud as our new board member. His position is
Vice-Treasurer.
</p>

<p>
We'd like to thank Gulcin Yildirim for her work on the board of PostgreSQL
Europe.
</p>

<h3>Work ongoing</h3>

<h4>New address</h4>

<p>
We are working to change our address for snail mail. We actually end up
getting the mail quite late, and it can be quite inconvenient. So we're trying
to find a French company to get our mail and send it to us on a timely
fashion. We're looking for a French company because we need an address in
France.
</p>

<h4>Tax representatives</h4>

<p>
We still have major issues on foreign taxes. A solution might be to get tax
representatives in foreign countries. We are working on this to resolve this
issue.
</p>

{%endblock%}
