{%extends "nav_about.html"%}
{%block title%}2019 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2019 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2018-01-01</strong></td>
		<td><strong>2018-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right">  92,009.73</td>
		<td align="right"> 127,127.23</td>
		<td align="right">  35,117.50</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 1</td>
		<td align="right"> 61,743.98</td>
		<td align="right"> 62,207.05</td>
		<td align="right">    463.07</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 2</td>
		<td align="right"> 10,000.00</td>
		<td align="right"> 10,041.91</td>
		<td align="right">     41.91</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right">  5,918.82</td>
		<td align="right">  2,787.15</td>
		<td align="right"> -3,131.67</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right"> 1,000.00</td>
		<td align="right"> 1,500.00</td>
		<td align="right">   500.00</td>
	</tr>
	<tr>
		<td>Trustly account</td>
		<td align="right"> 1,532.00</td>
		<td align="right"> 1,129.25</td>
		<td align="right">  -402.75</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">   249.38</td>
		<td align="right">   -22.75</td>
		<td align="right">  -272.13</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em>172,453.91</em></td>
		<td align="right"><em>204,769.84</em></td>
		<td align="right"><em> 32,315.93</em></td>
	</tr>
</table>
<p>The <a href="/media/local/pdf/pgeu_balance_2019.pdf">full balance report</a> is also available.</p>

<p>
While the overall goal of PostgreSQL Europe is to break even, we did again see
a net gain in 2018. It's even bigger than last year.
</p>

<h2>Major items</h2>

<h3>Activities</h3>
<p>
The two saving accounts have not been used during 2018 since all events have
generated satisfactory financial results (exceeding or hitting budget) due to
strong sponsor income. The only transaction in the accounts during 2018 was an
interest income of 463.07€ for the first one, and 41.91€ for the second one.
As the events grow larger and the number of events increase, the importance of
this buffer remains.
</p>

<p>
Our administrative backend software, which powers both our financial reporting
as well as the events, was again further improved ensuring safe operation of
our events.
</p>

<p>
We are working to get tax representatives in foreign countries (foreign
meaning not-France).
</p>

<h3>Income/Expenses</h3>

<p>
  The important items of 2019 are summarized here, but
  the <a href="/media/local/pdf/pgeu_results_2019.pdf">full results report</a>
  is also available.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">930.00</td>
		<td align="right">0</td>
		<td align="right">930.00</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">691.26</td>
		<td align="right">0.00</td>
		<td align="right">691.26</td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right">250,512.49</td>
		<td align="right">-207,995.93</td>
		<td align="right">42,516.56</td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right">4,975.6</td>
		<td align="right">-12,273.14</td>
		<td align="right">-7,297.54</td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right">504.98</td>
		<td align="right">-10,062.89</td>
		<td align="right">-9,557.91</td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0.00</td>
		<td align="right">-534.40</td>
		<td align="right">-534.40</td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td align="right">0.00</td>
		<td align="right">-466.00</td>
		<td align="right">-466.00</td>
	</tr>
	<tr>
		<td>Other</td>
		<td align="right">0.00</td>
		<td align="right">-4,038.19</td>
		<td align="right">-4,038.19</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>22,243.78</em></td>
	</tr>
</table>

<p>
[0] _Other_ includes banking costs and fees etc.
</p>

<p>
We did gain a lot this year. This is mostly due to the reimbursement of taxes.
</p>

<p>
We got much fewer donations. In 2017, most of them were book royalties, but
there was nothing in 2018.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income</strong></td>
    <td align="right"><strong>Expenses</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>FOSDEM/PGDay 2018</td>
    <td align="right">2,189.96</td>
    <td align="right">469.93</td>
    <td align="right">1,721.03 *</td>
  </tr>
  <tr>
    <td>Nordic PGDay 2018</td>
    <td align="right">8,788.00</td>
    <td align="right">12,810.10</td>
    <td align="right">-4,022.10 *</td>
  </tr>
  <tr>
    <td>PGConf.DE 2018</td>
    <td align="right">15,925.00</td>
    <td align="right">11,454.29</td>
    <td align="right">4,470.71</td>
  </tr>
  <tr>
    <td>PGDay Paris 2018</td>
    <td align="right">11,079.27</td>
    <td align="right">11,712.27</td>
    <td align="right">-633.00 *</td>
  </tr>
  <tr>
    <td>PGConf.EU 2018</td>
    <td align="right">182,965.86</td>
    <td align="right">138,707.26</td>
    <td align="right">44,258.60</td>
  </tr>
</table>

<p>
(*) FOSDEM, Nordic PGDay, PGDay Paris, and PGConf.EU 2018 are events whose
financials have an effect on multiple years. Complete results for these
events are listed below.
</p>

<table>
  <tr>
    <td><strong>FOSDEM/PGDay 2018</strong></td>
    <td align="right">-7,018.03</td>
  </tr>
  <tr>
    <td><strong>Nordic PGDay 2018</strong></td>
    <td align="right">1,017.30</td>
  </tr>
  <tr>
    <td><strong>PGConf.DE 2018</strong></td>
    <td align="right">12,470.71</td>
  </tr>
  <tr>
    <td><strong>PGDay Paris 2018</strong></td>
    <td align="right">257.85</td>
  </tr>
  <tr>
    <td><strong>PGConf.EU 2018</strong></td>
    <td align="right">43,855.38</td>
  </tr>
</table>

{%endblock%}
