{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee Reports</h1>
<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />
<p>
  The PostgreSQL Europe Diversity Committee has committed to providing regular 
  reports to the PostgreSQL Europe board and to the PostgreSQL Europe community.
</p>
<p>
  Reports will be produced annually, at the end of the calendar year. 
  In addition an interim report will be provided et the end of each quarter.
</p>
<p>As an exception, the Committee's first annual report covers the 
  12 month period to the end of March 2025.</p>
<h2>Reports</h2>
<p><a href="/diversity/diversity_reports/2024_annual_report">2024 Annual report</a></p>
{%endblock%}
