{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>PostgreSQL Europe Diversity Committee</h1>
<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Diversity Committee Members</h2>
<ul>
 <li><a href="/diversity/diversity_committee_karen">Karen Jex</a> <b>(Chair)</b></li>
 <li><a href="/diversity/diversity_committee_stacey">Stacey Haysler</a> <b>(Advisor)</b></li>
 <li><a href="/diversity/diversity_committee_valeria">Valeria Kaplan</a></li>
 <li><a href="/diversity/diversity_committee_stefanie">Stefanie Janine Stölting</a></li>
 <li><a href="/diversity/diversity_committee_floor">Floor Drees</a></li>
 <li><a href="/diversity/diversity_committee_jimmy">Jimmy Angelakos</a></li>
 <li><a href="/diversity/diversity_committee_flavio">Flavio Gurgel</a></li>
</ul>
<p>The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>.</p>
<h2>Committee Member Rotation and Selection</h2>
<ul>
  <li>The committee will comprise up to 8 members.</li>
  <li>Any active PostgreSQL Europe member may apply to be a member of the committee.</li>
  <li>Each committee member will serve a 2 year mandate.</li>
  <li>At the end of their mandate, a committee member may choose to serve an
    additional 2 year mandate.</li>
  <li>A call for committee members will run through September and/or October
    each year, in order to fill any open places on the committee.</li>
  <li>New members will be selected by the committee and approved by the PGEU board.</li>
  <li>Where possible, an in-person joint meeting of the old and new committee
    members will take place during PostgreSQL Conference Europe.</li>
</ul>
<h2>Roles and Responsibilities</h2>
<p>Information about the roles and responsibilities of the Diversity Committee
  members coming soon.</p>
<h2>Past Members</h2>
<p>We thank the following past members of the Diversity Committee for their work:</p>
<ul>
  <li>Gülçin Yıldırım Jelínek</li>
</ul>  
{%endblock%}