{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Meet the Diversity Committee</h1>
<img alt="PostgreSQL Europe Diversity Committee logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Diversity Committee Members</h2>
<ul>
  <li><a href="/diversity/diversity_committee_karen">Karen Jex</a> <b>(Chair)</b></li>
  <li><a href="/diversity/diversity_committee_stacey">Stacey Haysler</a>
    <b>(Advisor)</b></li>
  <li><a href="/diversity/diversity_committee_stefanie">Stefanie Janine Stölting</a>
    <b>(Infrastructure Manager)</b></li>
  <li><a href="/diversity/diversity_committee_floor">Floor Drees</a>
    <b>(Scholarship Manager, Event Coordinator)</b></li>
  <li><a href="/diversity/diversity_committee_jimmy">Jimmy Angelakos</a>
    <b>(Budget Manager)</b></li>
  <li><a href="/diversity/diversity_committee_jose">José Antonio Morcillo Valenciano</a></li>
  <li><a href="/diversity/diversity_committee_celeste">Celeste Horgan</a>
    <b>(Website Content Creation)</b></li>
  <li><a href="/diversity/diversity_committee_cornelia">Cornelia Biacsics</a>
    <b>(Social Media/Marketing Manager)</b></li>
</ul>
<p>The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>.</p>
<p>Join us on the Diversity Committee! Find out how <a href="/diversity/join_diversity_committee">here</a>.</p>
<h2>Past Members</h2>
<p>We thank the following past members of the Diversity Committee for their work:</p>
<ul>
  <li>Flavio Gurgel</li>
  <li>Gülçin Yıldırım Jelínek</li>
  <li>Valeria Kaplan</li>
</ul>  
{%endblock%}
