{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Stacey Haysler (Advisor)</h2>

<img alt="Headshot of Stacey Haysler" src="/media/local/img/people/stacey.png" />

<p>
    By day, I'm the CFO and COO of PGX, Inc., a Postgres-only consultancy in
    San Francisco, California. I'm also the President of the U.S. PostgreSQL
    Association (PgUS), a nonprofit dedicated to the advancement of PostgreSQL
    through education and advocacy. I'm an organizer of the San Francisco Bay
    Area PostgreSQL Users Group. At conferences in the US and Europe, you'll
    often find me at the registration desk. I'm also the creator of the original
    PostgreSQL Community Code of Conduct, and was the first Chair of the
    Community CoC Committee for three years. By night, I sleep, since that's a
    lot to do every day!
</p>

{%endblock%}
