{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Task Force Logo</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />

<h3>Creator</h3>
<p>
  Our fantastic PostgreSQL Europe Diversity Task Force logo was created for us
  by illustration student Elodie Jex.
</p>
<p>  You can see some of Elodie's work and follow her progress on her
    <a href="https://www.instagram.com/elodie.s_art_">Instagram account</a>.
</p>
<h3>Shape</h3>
<p>
    The logo is in the shape of two elephant heads in profile,
    facing each other, with their trunks forming a heart shape.
</p>
<p>
    The elephants, of course, are intended to represent PostgreSQL
    with a nod to the PostgreSQL logo.
</p>
<p>
    The two elephants together, forming a heart, represent the friendship and
    welcome that we want all members of the PostgreSQL community to experience.
</p>
<h3>Colours</h3>
<p>
    The colours are taken from the Gilbert Baker 9 stripe Rainbow Pride flag.
</p>
<p>
    The left hand elephant is in the lavender colour (#CD66FF) that represents
    "diversity", and the right hand elephant is in the indigo "serenity" colour
    (#400098).
</p>
<h3>Text</h3>
<p>
    Below the elephants is the text "PostgreSQL Europe Diversity Task Force",
    in the Maven Pro font that is used across the PostgreSQL Europe website.
</p>
<h3>Variations</h3>
<p>
  To give us some choice when it comes to creating stickers, posters,
  artwork etc. Elodie has created us several variations of the logo:
  <ul>
    <li>With and without text.</li>
    <li>In colour and in black & white.</li>
    <li>with the slogan "Celebrating diversity".</li>
    <li>With the full elephants sitting facing each other.</li>
  </ul>
</p>

{%endblock%}
