{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Floor Drees</h2>

<img alt="Headshot of Floor Drees" src="/media/local/img/people/floor.jpg" />

<p>
    Floor is the Head of Education at Tembo and an open source community
    advocate. She previously worked in Developer Relations roles at Aiven,
    Grafana Labs, and Microsoft. She's a member of Devopsdays Core and organizes
    the Devopsdays Amsterdam conference. She also organizes PGDay Lowlands
    (Amsterdam, September 13, 2024), and too many meetups too.
</p>
<p>"It's just Postgres, and it's enough."</p>

{%endblock%}
