{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Jimmy Angelakos</h2>

<img alt="Headshot of Jimmy Angelakos" src="/media/local/img/people/jimmy.jpg" />

<p>
    Jimmy Angelakos is a Systems and Database Architect and recognized
    PostgreSQL expert who has worked with, and contributed to, Open-Source
    tools for 25+ years. He is passionate about participating in the community,
    and is an active member of PostgreSQL Europe and an occasional contributor
    to the PostgreSQL project. Jimmy is a regular speaker at conferences and
    events, sharing his insights with the community. Author of PostgreSQL
    Mistakes and How to Avoid Them, co-author of PostgreSQL 16 Administration
    Cookbook.
</p>

{%endblock%}
