{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Gülçin Yıldırım</h2>

<img alt="Headshot of Gülçin Yıldırım" src="/media/local/img/people/gulcin.jpg" />

<p>
    Gülçin started working with Postgres at a startup company in 2012 and was
    amazed at how powerful Postgres truly is! Over the years, she has actively
    contributed to the PostgreSQL community by organizing conferences, delivering
    talks, and engaging as a dedicated community member. In recognition of her
    commitment, Gülçin was elected to the PostgreSQL Europe Board in 2017.
</p>
<p>
    Fueled by her passion for PostgreSQL automation and cloud technologies,
    Gülçin took on the role of Cloud Services Manager and led the cloud
    development efforts at 2ndQuadrant, which was later acquired by EDB in 2020.
    Committed to fostering diversity and inclusion, she is an integral part of
    Postgres Women, advocating for increased representation of women in
    technical communities.
</p>
<p>
    Currently, Gülçin is a Staff Database Engineer at Xata, where she continues
    to explore her interests in PostgreSQL. In addition to her engineering work,
    she is one of the co-founders of Kadin Yazilimci (Women Developers of Turkey)
    and has led the core team for more than 10 years. In 2023, she launched Diva:
    Dive into AI as a Kadin Yazilimci initiative and has been part of the
    organizing team since.
</p>
<p>
    She is now part of the committee for the PostgreSQL Europe Diversity Task
    Force and looks forward to serving the Postgres community, hoping to
    contribute to the longevity and health of the Postgres project. Gülçin lives
    in Prague and is the co-founder and organizer of the monthly Prague
    PostgreSQL Meetup.
</p>

{%endblock%}
