{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Flavio Gurgel</h2>

<img alt="Headshot of Flavio Gurgel" src="/media/local/img/people/flavio.png" />

<p>
    Longtime PostgreSQL database administrator, born in Brazil and lives in
    France since 2014, attended several PgEU events since then.
</p>
<p>
    Currently working for leboncoin as Staff Infrastructure Engineer,
    participates in an in-company diversity group.
    Flavio is also treasurer of the PostgreSQL-FR association.
</p>

{%endblock%}
