{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />

<p>The Diversity Committee is made up of the following members:</p>

<ul>
 <li><a href="/diversity/diversity_committee_karen">Karen Jex</a> <b>(Chair)</b></li>
 <li><a href="/diversity/diversity_committee_stacey">Stacey Haysler</a> <b>(Advisor)</b></li>
 <li><a href="/diversity/diversity_committee_valeria">Valeria Kaplan</a></li>
 <li><a href="/diversity/diversity_committee_gulcin">Gülçin Yıldırım Jelínek</a></li>
 <li><a href="/diversity/diversity_committee_stefanie">Stefanie Janine Stölting</a></li>
 <li><a href="/diversity/diversity_committee_floor">Floor Drees</a></li>
 <li><a href="/diversity/diversity_committee_jimmy">Jimmy Angelakos</a></li>
 <li><a href="/diversity/diversity_committee_flavio">Flavio Gurgel</a></li>
</ul>

<p>The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>.</p>

{%endblock%}