{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Stefanie Janine Stölting</h2>

<img alt="Headshot of Stefanie Janine Stölting"
     src="/media/local/img/people/stefanie.jpg" />

<p>
    Long time database and web developer. Fell in love with PostgreSQl on
    first view, which was in the last millennium.
</p>
<p>
    Currently I am the owner of ProOpenSource OÜ doing open source, and,
    especially, PostgreSQL consulting.
</p>
<p>
    More info about me can be found here:
    <a href="https://proopensource.it/blog/my-way-to-postgreql">
        https://proopensource.it/blog/my-way-to-postgreql</a>
</p>

{%endblock%}
