{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Karen Jex (Chair)</h2>

<img alt="Headshot of Karen Jex" src="/media/local/img/people/karen.jpg" />

<p>
    Karen has worked with databases for the past 25 years, as a database
    administrator, database consultant and now senior solutions architect.
</p>
<p>
    She always wanted to “just quietly get on with techie stuff”, but for some
    reason Karen now spends much of her time giving talks about databases at
    PostgreSQL and developer conferences, she's on the PostgreSQL Europe board
    of directors and seems to have accidentally become an ambassador for
    diversity and inclusion within the PostgreSQL and wider tech community!
</p>

{%endblock%}
