{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee Services for Event Organisers</h1>
<img alt="PostgreSQL Europe Diversity Committee logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Work in Progress</h2>
<p>This page is a work in progress. We will update it periodically with
  information about the different services we can offer to event organisers.
  In the meantime, if you are organising a PostgreSQL event in Europe, please
  contact the Diversity Committee by email at <b>diversity(at)postgresql.eu</b>
  with any questions and/or requests
  for help.</p>
<h2>How We Can Help</h2>
<p>Note that this is a non-exhaustive list. We welcome your questions, ideas
  and/or requests for help.</p>
<h4>Sunflower-friendly Events</h4>
<p>PostgreSQL Europe is an official member of the
  <a href="/diversity/hd_sunflower">Hidden Disabilities Sunflower</a>, a
  globally recognised symbol that supports people living with non-visible
  disabilities. All PostgreSQL Europe events are invited and encouraged to
  become Sunflower-friendly. See the link above for more information, and
  contact the diversity committee to find out how help create events that
  are more understanding, more supportive, and more inclusive.</p>
<h4>Grants for Diversity Initiatives</h4>
<p>More information coming soon.</p>
<h4>Advice and Support</h4>
<p>More information coming soon.</p>
<h4>Guidelines and Templates</h4>
<p>More information coming soon.</p>
{%endblock%}
