{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Valeria Kaplan</h2>

<img alt="Headshot of Valeria Kaplan" src="/media/local/img/people/valeria.jpg" />

<p>
    It’s hard to pinpoint exactly when I joined the Postgres community, since
    it was such a gradual process and it took me a while to realise what being
    a part of an open source community means. It took me even longer to understand
    how it functions with different interests, roles and responsibilities at play.
</p>
<p>
    I figured that the only way one can truly understand the Postgres community
    is to actively engage with its members, bringing your own ideas,
    perspective and energy.
</p>
<p>
    I’ve attended many community conferences and helped with the organisation
    of others, am a part of Funds group and a Chair of the PGUS User Group committee.
</p>
<p>
    Aside from the technical advantages, financial benefits, and the freedom
    from vendor lock-in Postgres has a lot to offer and I’m humbled that I am
    a part of this unique open-source movement that is PostgreSQL.
</p>

{%endblock%}
