{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Hidden Disabilities Sunflower</h1>
<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Global Sunflower Network</h2>
<p>
  We are proud to announce that PostgreSQL Europe has joined the global
  Sunflower network.
</p>
<p>
  We are now an official member of the Hidden Disabilities Sunflower, a globally
  recognised symbol that supports people living with non-visible disabilities.
</p>
<p>
  Whether or not you have a non-visible disability, this is about creating an
  environment that is more understanding, more supportive, and more inclusive
  for everyone.
</p>
<p>
  The Sunflower is a simple way to say: 
  “I may need a little more support, time, space, or understanding today.”
</p>
<p>
  Together, we can create a community where everyone feels seen, valued, and
  supported.
</p>
<h2>The Sunflower Pledge</h2>
<p>
  By joining the global Hidden Disabilities Sunflower network, 
  PostgreSQL Europe pledges to create a supportive and inclusive environment
  for individuals with non-visible disabilities who may need additional
  assistance, understanding, or more time.
</p>
<p>Specifically, to commit to:</p>
<ul>
  <li>
    <b>Training our workforce:</b> Before we launch the Sunflower and continue
    over time, we will aim to train at least 80% of our current and future staff
    and volunteers. This training will help them understand what the Sunflower
    symbol means, what non-visible disabilities are, and how to approach and
    support individuals wearing the Sunflower.
  </li>
  <li>
    <b>Promoting awareness:</b> We aim to increase awareness of our
    Sunflower-friendly approach by sharing information about the Sunflower on
    our website's accessibility page and, when relevant, on the Sunflower
    location map. We'll also use our communication platforms to educate our
    team and customers about different non-visible disabilities, conditions,
    and chronic illnesses, helping to build understanding.
  </li>
  <li>
    <b>Creating an inclusive environment:</b> We aim to create an inclusive
    environment where everyone feels welcome, and people with non-visible
    disabilities feel respected, valued, and supported.
  </li>
</ul>
<h2>Sunflower-Friendly Events</h2>
<p><a href="https://2025.pgconf.eu">PostgreSQL Conference Europe 2025</a>
  is officially Sunflower-friendly.
  Our organisers and volunteers are completing Sunflower training to better support
  people with non-visible disabilities.
</p>
<p>
  All other PostgreSQL Europe events are invited and encouraged to become
  Sunflower-friendly. If you're organising a PostgreSQL Europe event, please
  contact the diversity committee to learn more and to ask for help with this.
</p>
<h2>Find Out More</h2>
<p>
  Learn more about the Hidden Disabilities Sunflower <a href="https://hdsunflower.com/">here</a>
</p>
<img alt="HD Sunflower Membership Logo"
     src="/media/local/img/diversity_sunflower_250.png" />
{%endblock%}