{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Travel Scholarships</h1>
<img alt="PostgreSQL Europe Diversity Committee logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Scholarships</h2>
<p>Travel scholarships for European PostgreSQL conferences are primarily aimed
  at increasing diversity, inclusion, and participation by supporting individuals
  who face financial or systemic barriers to attendance.</p>
<ol>
  <li>Individuals from underrepresented groups in technology, such as women and
    non-binary individuals, racial and ethnic minorities, members of the
    LGBTQIA+ community, people with disabilities.</li>
  <li>Early-career and student participants.</li>
  <li>Individuals who do not have sufficient funding from their employer or
    institution, or those who have a genuine financial need.</li>
</ol>
<h2>How to Apply</h2>
<p>Please email us at <b>diversity(at)postgresql.eu</b> with a brief outline
  of your request.</p>
<p>Note that scholarships must be requested by the person who is travelling
  for the event. Applications may not be made on behalf of another person.</p>
<h2>Approval Criteria</h2>
<p>The following guidelines are followed by the committee when deciding whether
  or not to approve a request. Note that this is not an exhaustive list, and is
  shared for information purposes only. Each application will be examined on a
  case-by-case basis:</p>
<ul>
  <li>Applications for travel to an event <b>close to where the applicant is
    based</b> are more likely to be approved.</li>
  <li>There should be some demonstrable benefit to the PostgreSQL Europe community
    of the applicant’s attendance at the event.</li>
  <li>The committee may adjust amount requested if they feel that a lower (or,
    exceptionally, higher) amount is more appropriate. The maximum amount(s)
    agreed will not change once the scholarship has been approved.</li>
  <li>The scholarship applicant is responsible for identifying whether or not
    a Visa is required for travel, and for initiating and navigating the Visa
    application process if required.</li>
  <li>Approved expenses will be reimbursed <b>after the event</b>, on production
    of receipts.</li>
  <li>Unless there are exceptional circumstances, we will not usually approve
    two grant requests from the same individual in one calendar year.</li>
  <li>Every request must go through the formal application process.</li>
</ul>
{%endblock%}