{%extends "nav_about.html"%}
{%block title%}2024 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2024 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<p>
The 2024 GA report primarily covers activities during 2023, but will
also mention some happenings during 2024.
</p>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2024/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2023 Events</h3>

<h4>FOSDEM</h4>
<p>
FOSDEM was finally back in person, along with the separate PGDay on the Friday
before the main event. PostgreSQL had the usual stand during the main event, as
well as a full day of devroom sessions. The PGDay attracted 112 people.
</p>

<h4>Nordic PGDay</h4>
<p>
  Nordic PGDay was held in Stockholm, Sweden, with 155 attendees which
  was a new record for Nordic PGDay.
</p>

<h4>pgDay.Paris</h4>
<p>
  pgDay.Paris was held, unsurprisingly, in Paris with 117 attendees.
</p>

<h4>PGDay/MED</h4>
<p>
  We started a new series of conferences inthe Mediterranean called PGDay/MED.
  Unfotunately, this first conference was not a success, with only 26 attendees.
</p>

<h4>PGConf.DE</h4>
<p>
  PGConf.DE this year was held in Essen, and had 254 attendees which was
  a new record for PGConf.DE.
</p>

<h3>PGDay UK</h3>
<p>
  A London event returned, now run by PostgreSQL Europe. The first of this
  round of PGDay UK attracted 73 attendees.
</p>

<h4>PGConf.EU</h4>
<p>
  PGConf.EU returned to Prague, the first time we repeated a city (we were
  previously in Prague in 2012), and set another new reord with 722 attendees!
</p>

<h3>2024 events</h3>
<p>
  2024 has been a year packed with events. We've seen a new event in the PostgreSQL
  Europe portfolio with PGDay Lowlands in Amsterdam.
  The full details will be in next years GA.
</p>

<h3>Miscellaneous</h3>

<h4>Board Elections</h4>

<p>
In the 2023 elections, Dave Page and Lætitia Avrot were both re-elected.
</p>

<p>
 In the 2024 elections, Magnus Hagander was re-elected to the board, and
 Karen Jex was elected as a new member. PostgreSQL Europe thanks Ilya
 Kosmodemiansky who leaves the board after this election.
</p>

<h3>Ongoing work</h3>

<h4>New address</h4>

<p>
This work was ongoing in 2023, and has finaly completed in 2024.
</p>

<h4>Trademark disputes</h4>
<p>
The trademark disputes involving PostgreSQL Europ ehave been concluded.
It took a lot of time, effort and money, but the PostgreSQL community remains
in control of it's trademarks.
</p>

{%endblock%}
