{%extends "nav_about.html"%}
{%block title%}2024 General Assembly - Financial report{%endblock%}
{%block content%}
<h1 id="general-assembly---financial-report">2024 General Assembly - Financial report</h1>
<h2 id="assets">Assets</h2>
<table><thead>
  <tr>
    <th>Accounts</th>
    <th>2023-01-01</th>
    <th>2023-12-31</th>
    <th>Difference</th>
  </tr></thead>
<tbody>
  <tr>
    <td>Crédit Mutuel checking account</td>
    <td align="right">101 212.42</td>
    <td align="right">387 255.39</td>
    <td align="right">286 042.97</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 1</td>
    <td align="right">76 500.00</td>
    <td align="right">77 389.34</td>
    <td align="right">889.34</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 2</td>
    <td align="right">65 131.28</td>
    <td align="right">65 143.82</td>
    <td align="right">12.54</td>
  </tr>
  <tr>
    <td>Paypal account</td>
    <td align="right">5 734.03</td>
    <td align="right">1 891.07</td>
    <td align="right">-3 842.96</td>
  </tr>
  <tr>
    <td>Adyen account</td>
    <td align="right">25 500.00</td>
    <td align="right">30 500.00</td>
    <td align="right">5 000.00</td>
  </tr>
  <tr>
    <td>Trustly account</td>
    <td align="right">2 779.17</td>
    <td align="right">5 909.14</td>
    <td align="right">3 129.97</td>
  </tr>
  <tr>
    <td>TransferWise account</td>
    <td align="right">7 174.45</td>
    <td align="right">1 471.45</td>
    <td align="right">-5 703.00</td>
  </tr>
  <tr>
    <td>Pending payments</td>
    <td align="right">9.00</td>
    <td align="right">119.00</td>
    <td align="right">110.00</td>
  </tr>
  <tr>
    <td>Adyen pending income</td>
    <td align="right">9.28</td>
    <td align="right">- 0.50</td>
    <td align="right">- 9.78</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td align="right">284 049.63</td>
    <td align="right">569 678.71</td>
    <td align="right">285 629.08</td>
  </tr>
</tbody></table>
<h2 id="major-items">Major items</h2>
<h3 id="activities">Activities</h3>
<p>Finances are good. We are on the way to work with the new accountants but are still bound to the old ones for the year 2023. We have to note that there were no legal fees this year. We have a comfortable buffer of money we can use to experiment with small events in different places.</p>
<h3 id="incomeexpenses">Income/Expenses</h3>
<p>The important items of 2023 are summarized here.</p>
<p>Legal fees were less significant this year as it was Postgres Community
Association of Canada's turn to take most of them and the issue was settled,
therefore stopping our expenses for that category.</p>
<p>Conferences were overall very profitable for the year 2023.</p>
<table><thead>
  <tr>
    <th>Items</th>
    <th>Income</th>
    <th>Expenses</th>
    <th>Final results</th>
  </tr></thead>
<tbody>
  <tr>
    <td>Membership</td>
    <td align="right">900.00</td>
    <td align="right">0.00</td>
    <td align="right">900.00</td>
  </tr>
  <tr>
    <td>Merchandise</td>
    <td align="right">10 351.90</td>
    <td align="right">-4 945.12</td>
    <td align="right">5 406.78</td>
  </tr>
  <tr>
    <td>Conferences</td>
    <td align="right">522 540.97</td>
    <td align="right">-269 345.22</td>
    <td align="right">253 195.75</td>
  </tr>
  <tr>
    <td>Donations</td>
    <td align="right">2 119.52</td>
    <td align="right">0.00</td>
    <td align="right">2 119.52</td>
  </tr>
  <tr>
    <td>Financial</td>
    <td align="right">956.87</td>
    <td align="right">-10 574.56</td>
    <td align="right">-9 617.69</td>
  </tr>
  <tr>
    <td>Insurance</td>
    <td align="right">0.00</td>
    <td align="right">- 949.10</td>
    <td align="right">- 949.10</td>
  </tr>
  <tr>
    <td>Taxes</td>
    <td align="right">0</td>
    <td align="right">-2 528.00</td>
    <td align="right">-2 528.00</td>
  </tr>
  <tr>
    <td>Legals</td>
    <td align="right">0.00</td>
    <td align="right">-16 158.55</td>
    <td align="right">-16 158.55</td>
  </tr>
  <tr>
    <td>Others</td>
    <td align="right">0.00</td>
    <td align="right">-3 671.36</td>
    <td align="right">-3 671.36</td>
  </tr>
  <tr>
    <td>VAT not claimed yet</td>
    <td align="right">0</td>
    <td align="right">56931.73</td>
    <td align="right">56 931.73</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td align="right">536 869.26</td>
    <td align="right">-251 240.18</td>
    <td align="right">285 629.08</td>
  </tr>
</tbody></table>
<p>The financial results for our events from 2023 can be seen broken down per
event in the table below. Be aware that some of the numbers below include
invoices or incomes from other years (2022 or 2024).</p>
<p>PGDay Paris and PGDay/MED lost some money. There were not a lot of attendees
to these events, certainly less than what we expected. We also got fewer
sponsorships as expected for PGDay/MED.</p>
<p>As usual, there was a deficit for FOSDEM PGDay but it should be seen more as
a contribution to the community as the conference day at FOSDEM is free for
attendance and without sponsorship.</p>
<p>The column “Expenses” gathers all expenses we have to put the event in place
(venue, food, speaker gifts and so on). The column “Other costs” gathers all
banking costs (credit card fees and paypal fees) for ticket purchases.</p>
<table><thead>
  <tr>
    <th>Event</th>
    <th>Income</th>
    <th>Expenses</th>
    <th>Other costs</th>
    <th>Results</th>
  </tr></thead>
<tbody>
  <tr>
    <td>Nordic PGDay 2023</td>
    <td align="right">21 892.00</td>
    <td align="right">-18 033.87</td>
    <td align="right">- 357.35</td>
    <td align="right">3 500.78</td>
  </tr>
  <tr>
    <td>PGDay Paris 2023</td>
    <td align="right">21 799.12</td>
    <td align="right">-29 848.13</td>
    <td align="right">- 378.46</td>
    <td align="right">-8 427.47</td>
  </tr>
  <tr>
    <td>PGConf.de 2023</td>
    <td align="right">46 246.80</td>
    <td align="right">-26 095.17</td>
    <td align="right">- 565.87</td>
    <td align="right">19 585.76</td>
  </tr>
  <tr>
    <td>FOSDEM PGDay 2023</td>
    <td align="right">3 862.76</td>
    <td align="right">-13 901.60</td>
    <td align="right">- 107.39</td>
    <td align="right">-10 146.23</td>
  </tr>
  <tr>
    <td>PGDay Med 2023</td>
    <td align="right">3 254.23</td>
    <td align="right">-5 620.29</td>
    <td align="right">- 98.51</td>
    <td align="right">-2 464.57</td>
  </tr>
  <tr>
    <td>PGDay UK 2023</td>
    <td align="right">20 398.04</td>
    <td align="right">-8 916.40</td>
    <td align="right">0.00</td>
    <td align="right">11 481.64</td>
  </tr>
  <tr>
    <td>PGConf.eu 2023</td>
    <td align="right">400 555.28</td>
    <td align="right">-295 144.67</td>
    <td align="right">-7 018.87</td>
    <td align="right">98 391.74</td>
  </tr>
  <tr>
    <td colspan="4">TOTAL</td>
    <td align="right">111 921.65</td>
  </tr>
</tbody></table>
{%endblock%}
