{%extends "nav_about.html"%}
{%block title%}2022 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2022 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<p>
The 2022 GA report primarily covers activities during 2021, but will
also mention some happenings during 2022.
</p>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2022/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2021 Events</h3>
<p>
Due to the Covid-19 pandemic, in 2021 no in-person events were
held. PostgreSQL Europe participated, as usual, in the virtual FOSDEM
event.
</p>

<h4>FOSDEM</h4>
<p>
While the separate PGDay was canceled, PostgreSQL Europe participated
virtually in FOSDEM with a virtual devroom. Plenty of interest was
seen, but it's of course not the same as the full in-person event.
</p>

<h3>2022 Events</h3>
<p>
2022 started with once again participating in the virtual FOSDEM
event. After that we saw a return of many of our regular events, such
as Nordic PGDay, pgDay Paris, PGConf.DE, and finally also
PGConf.EU. Full details will be provided in the upcoming 2022 report.
</p>

<h3>2023 events</h3>
<p>
The current pattern shows most events returning in 2023. We will have
a PGDay before FOSDEM and a Devroom during the main event. Nordic
PGDay, pgDay Paris and PGConf.DE will also return. And finally, while
we do not yet have dates or location, we are working hard to make sure
we can hold a PGConf.EU in the fall as well.
</p>

<h3>Miscellaneous</h3>

<h4>New board member</h4>

<p>
As previously mentioned, Ilya Kosmodemiansky was voted in as a board
member in the 2021 elections. His position is Vice Treasurer.
</p>

<p>
In the 2022 elections, there was a tie between Andreas Scherbaum and
Pavlo Golub. Per the statutes, a second election was held and in this
election Andreas Scherbaum won by one vote, and remains on the board.
</p>

<h3>Ongoing work</h3>

<h4>New address</h4>

<p>
The work to find a new address to make it easier to contact us is still ongoing.
</p>

<h4>Tax representatives</h4>
<p>
We still have major issues on foreign taxes. A solution might be to get tax representatives in foreign countries. We are still working on this to resolve this issue.
</p>

<h4>Trademark disputes</h4>
<p>
Our trademark defense process is still in progress, together with the
PostgreSQL Community Association of Canada. Some important steps have
gone in our direction, but the process is still ongoing.
</p>

{%endblock%}
