{%extends "nav_about.html"%}
{%block title%}2022 General Assembly - Financial report{%endblock%}
{%block content%}
<h1 id="general-assembly---financial-report">2022 General Assembly - Financial report</h1>
<h2 id="assets">Assets</h2>
<table border="1" cellpadding="2">
<thead>
  <tr class="header">
  <tr>
    <th><strong>Accounts</strong></th>
    <th><strong>2021-01-01</strong></th>
    <th><strong>2021-12-31</strong></th>
    <th><strong>Difference</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Crédit Mutuel checking account</td>
    <td align="right">50,262.69</td>
    <td align="right">21,423.93</td>
    <td align="right">-28,838.76</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 1</td>
    <td align="right">63,143.65</td>
    <td align="right">63,472.76</td>
    <td align="right">329.11</td>
  </tr>
  <tr>
    <td>Crédit Mutuel saving account - 2</td>
    <td align="right">10,110.63</td>
    <td align="right">10,121.16</td>
    <td align="right">10.53</td>
  </tr>
  <tr>
    <td>Paypal account</td>
    <td align="right">4,107.51</td>
    <td align="right">2,750.03</td>
    <td align="right">-1,357.48</td>
  </tr>
  <tr>
    <td>Adyen account</td>
    <td align="right">7,181.18</td>
    <td align="right">15,020.01</td>
    <td align="right">7,838.83</td>
  </tr>
  <tr>
    <td>Trustly account</td>
    <td align="right">810.17</td>
    <td align="right">810.17</td>
    <td align="right">0.00</td>
  </tr>
  <tr>
    <td>TransferWise account</td>
    <td align="right">348.98</td>
    <td align="right">5,577.04</td>
    <td align="right">5,228.06</td>
  </tr>
  <tr>
    <td>Pending payments</td>
    <td align="right">0.00</td>
    <td align="right">10.00</td>
    <td align="right">10.00</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right"><em>135,964.81</em></td>
    <td align="right"><em>119,185.10</em></td>
    <td align="right"><em>-16,779.71</em></td>
  </tr>
</tbody>
</table>
<h2 id="major-items">Major items</h2>
<h3 id="activities">Activities</h3>
<p>The two saving accounts have not been used during 2021 since we had enough buffer money on the checking accounts. With the COVID crisis, we saw how important this buffer money is.</p>
<p>We had issues with our accountants who were not able to deliver finalised 2021 accounts on time. We are working on switching accountants to another company which should be able to manage foreign VAT too (foreign meaning not-France).</p>
<h3 id="incomeexpenses">Income/Expenses</h3>
<p>The important items of 2021 are summarized here.</p>
<table border="1" cellpadding="2">
<thead>
  <tr>
    <th><strong>Itemss</strong></th>
    <th align="right"><strong>Incomes</strong></th>
    <th align="right"><strong>Expensess</strong></th>
    <th align="right"><strong>Final resultss</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Membership</td>
    <td align="right">700.00</td>
    <td align="right">0.00</td>
    <td align="right">700.00</td>
  </tr>
  <tr>
    <td>Merchandise</td>
    <td align="right">17.92</td>
    <td align="right">0.00</td>
    <td align="right">17.92</td>
  </tr>
  <tr>
    <td>Conferences</td>
    <td align="right">12,195.86</td>
    <td align="right">0.00</td>
    <td align="right">12,195.86</td>
  </tr>
  <tr>
    <td>Donations</td>
    <td align="right">4,774.40</td>
    <td align="right">0.00</td>
    <td align="right">4,774.40</td>
  </tr>
  <tr>
    <td>Financial</td>
    <td align="right">339.64</td>
    <td align="right">-564.31</td>
    <td align="right">-224.67</td>
  </tr>
  <tr>
    <td>Insurance</td>
    <td align="right">0.00</td>
    <td align="right">-841.31</td>
    <td align="right">-841.31</td>
  </tr>
  <tr>
    <td>Taxes</td>
    <td align="right">0.00</td>
    <td align="right">-4,042.00</td>
    <td align="right">-4,042.00</td>
  </tr>
  <tr>
    <td>Legals</td>
    <td align="right">0.00</td>
    <td align="right">-25,745.19</td>
    <td align="right">-25,745.19</td>
  </tr>
  <tr>
    <td>Others</td>
    <td align="right">0.00</td>
    <td align="right">-4,712.82</td>
    <td align="right">-4,712.82</td>
  </tr>
  <tr>
    <td>French VAT not claimed yet</td>
    <td align="right">1,098.10</td>
    <td align="right">0</td>
    <td align="right">1,098.10</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right"><em>19,125.92</em></td>
    <td align="right"><em>-35,905.63</em></td>
    <td align="right"><em>-16,779.71</em></td>
  </tr>
</tbody>
</table>
<p>As previously mentioned, we had some trouble with our accountants being very late this year. This explains why the French VAT for 2020 and 2021 has still not been reclaimed.</p>
<p>The financial results for our events can be seen broken down per event in the table below. As most events these days have income and expenses spanning multiple years, we include the numbers from the previous year as well.  There was no event in 2021, but some expenses and incomes for Nordic 2022 and Paris 2022 are shown in the following table:</p>
<table border="1" cellpadding="2">
<thead>
  <tr>
    <th><strong>Event</strong></th>
    <th align="right"><strong>Income</strong></th>
    <th align="right"><strong>Expenses</strong></th>
    <th align="right"><strong>Other costs</strong></th>
    <th align="right"><strong>Balance</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Nordic PGDay 2020</td>
    <td align="right">13,499.24</td>
    <td align="right">-1,867.54</td>
    <td align="right">-234.91</td>
    <td align="right">11,396.79</td>
  </tr>
  <tr>
    <td>PGDay Paris 2020</td>
    <td align="right">21,489.11</td>
    <td align="right">-713.96</td>
    <td align="right">-432.75</td>
    <td align="right">20,342.40</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Total</td>
    <td align="right">31,739.19</td>
  </tr>
</tbody>
</table>
<p>Also, please note that both events had been moved from 2020, to 2021 then to 2022 for no fees. That means that we had a deficit in 2020 as the rooms were already paid and the profit in 2021 is partly artificial.</p>
{%endblock%}
