{%extends "nav_about.html"%}
{%block title%}2022 General Assembly - Financial report{%endblock%}
{%block content%}
<h1 id="general-assembly---financial-report">2022 General Assembly - Financial report</h1>
<h2 id="assets">Assets</h2>
<table border="1" cellpadding="2">
<thead>
<tr class="header">
<th><strong>Accounts</strong></th>
<th style="text-align: right;"><strong>2021-01-01</strong></th>
<th style="text-align: right;"><strong>2021-12-31</strong></th>
<th><strong>Difference</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Crédit Mutuel checking account</td>
<td style="text-align: right;">50 ,262,69</td>
<td style="text-align: right;">21 ,423.93</td>
<td>-28, 838.76</td>
</tr>
<tr class="even">
<td>Crédit Mutuel saving account - 1</td>
<td style="text-align: right;">63,472.76</td>
<td style="text-align: right;">?</td>
<td>?</td>
</tr>
<tr class="odd">
<td>Crédit Mutuel saving account - 2</td>
<td style="text-align: right;">10,121.16</td>
<td style="text-align: right;">?</td>
<td>?</td>
</tr>
<tr class="even">
<td>Paypal account</td>
<td style="text-align: right;">4,107.51</td>
<td style="text-align: right;">2 ,750.03</td>
<td>-1 ,357.48</td>
</tr>
<tr class="odd">
<td>Adyen account</td>
<td style="text-align: right;">7,181.18</td>
<td style="text-align: right;">15 ,020.01</td>
<td>7 ,838.83</td>
</tr>
<tr class="even">
<td>Trustly account</td>
<td style="text-align: right;">810.17</td>
<td style="text-align: right;">810.17</td>
<td>0</td>
</tr>
<tr class="odd">
<td>TransferWise account</td>
<td style="text-align: right;">348.98</td>
<td style="text-align: right;">5 ,577.04</td>
<td>5 ,228.06</td>
</tr>
<tr class="even">
<td>Pending payments</td>
<td style="text-align: right;">0</td>
<td style="text-align: right;">10.00</td>
<td>10.00</td>
</tr>
<tr class="odd">
<td><em>Total</em></td>
<td style="text-align: right;"><em>136,304.45</em></td>
<td style="text-align: right;"><em>?</em></td>
<td><em>?</em></td>
</tr>
</tbody>
</table>
<h2 id="major-items">Major items</h2>
<h3 id="activities">Activities</h3>
<p>
The two saving accounts have not been used during 2021 since we had
enough buffer money on the checking accounts. With the COVID crisis,
we saw how important this buffer money is.
</p>
<p>
We had issues with our accountants who were not able to deliver
finalised 2021 accounts on time. We are working on switching
accountants to another company which should be able to manage foreign
VAT too (foreign meaning not-France).
</p>

<h3 id="incomeexpenses">Income/Expenses</h3>
<p>The important items of 2021 are summarized here.</p>
<table border="1" cellpadding="2">
<thead>
<tr class="header">
<th><strong>Items</strong></th>
<th><strong>Income</strong></th>
<th><strong>Expenses</strong></th>
<th><strong>Final results</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Membership</td>
<td>700</td>
<td>0</td>
<td>700</td>
</tr>
<tr class="even">
<td>Donations</td>
<td>4,774.40</td>
<td>0</td>
<td>4,774.40</td>
</tr>
<tr class="odd">
<td>Conferences</td>
<td>12 ,195.86</td>
<td>0</td>
<td>12 ,195.86</td>
</tr>
<tr class="even">
<td>Merchandise</td>
<td>17.92</td>
<td>0</td>
<td>17.92</td>
</tr>
<tr class="odd">
<td>Financial</td>
<td>339.64</td>
<td>-564.31</td>
<td>-224.67</td>
</tr>
<tr class="even">
<td>Insurance</td>
<td>0</td>
<td>-841.31</td>
<td>-841.31</td>
</tr>
<tr class="odd">
<td>Taxes</td>
<td>0</td>
<td>-4,042.00</td>
<td>-4,042.00</td>
</tr>
<tr class="even">
<td>Legals</td>
<td>0</td>
<td>-25,745.19</td>
<td>-25,745.19</td>
</tr>
<tr class="odd">
<td>Others</td>
<td>0</td>
<td>-4,712.82</td>
<td>-4,712.82</td>
</tr>
<tr class="even">
<td>VAT not yet claimed</td>
<td>0</td>
<td>?</td>
<td>?</td>
</tr>
<tr class="odd">
<td><em>Total</em></td>
<td><em></em></td>
<td><em>?</em></td>
<td><em>?</em></td>
</tr>
</tbody>
</table>
<p>
As previously mentioned, we had some trouble with our accountants
being very late this year. This explains why the French VAT for 2020
and 2021 has still not been reclaimed.
</p>
<p>
The financial results for our events can be seen broken down per event
in the table below. As most events these days have income and expenses
spanning multiple years, we include the numbers from the previous year
as well.  There was no event in 2021, but some expenses and incomes
for Nordic 2022 and Paris 2022 are shown in the following table:
</p>

<table border="1" cellpadding="2">
<thead>
<tr class="header">
<th><strong>Event</strong></th>
<th style="text-align: right;"><strong>Income</strong></th>
<th style="text-align: right;"><strong>Expenses</strong></th>
<th style="text-align: right;"><strong>Other costs</strong></th>
<th style="text-align: right;"><strong>Balance</strong></th>
</tr>
</thead>
<tbody>
</tr>
<tr class="odd">
<td>Nordic PGDay 2020</td>
<td style="text-align: right;">13,499.24</td>
<td style="text-align: right;">-1,867.54</td>
<td style="text-align: right;">-234.91</td>
<td style="text-align: right;">11,396.79</td>
</tr>
<tr class="even">
<td>PGDay Paris 2020</td>
<td style="text-align: right;">21,489.11</td>
<td style="text-align: right;">-713.96</td>
<td style="text-align: right;">-432.75</td>
<td style="text-align: right;">-20,342.40</td>
</tr>
</tbody>
</table>
<p>
Also, please note that both events had been moved from 2020, to 2021 then to 2022 for no fees. That means that we had a deficit in 2020 as the rooms were already paid and the profit in 2021 is partly artificial.
</p>

{%endblock%}
