{%extends "nav_about.html"%}
{%block title%}Board of directors{%endblock%}
{%block content%}
<h1>Board of directors</h1>

<p>
As of 2024-02-28, the board consist of the following directors:
</p>
<ul>
 <li><b>President:</b> Magnus Hagander, Sweden</li>
 <li><b>Vice-president:</b> Andreas Scherbaum, Germany</li>
 <li><b>Treasurer:</b> Ilya Kosmodemiansky, Germany *</li>
 <li><b>Vice-treasurer:</b> Karen Jex, France</li>
 <li><b>Secretary:</b> Dave Page, United Kingdom</li>
</ul>
<p>
    * Ilya Kosmodemiansky was co-opted to the board on 9 May 2025 by the 
    remaining directors following the resignation of Lætitia Avrot on 25 
    April 2025. His co-option will be put to the members for ratification at
    the next General Meeting, and if ratified, he will serve the remainder of
    Ms. Avrot's original term.
</p>
{%endblock%}
