{%extends "nav_about.html"%}
{%block title%}FAQ{%endblock%}
{%block content%}
<h1>Frequently Asked Questions</h1>

<dl>

    <dt>Can PostgreSQL Europe help us organizing a conference or a Meetup?</dt>
    <dd>Sure. Please check out the details on our <a href="/events/services/">Event Services</a> website.</dd>

    <dt>Does PostgreSQL Europe run Meetups?</dt>
    <dd>In general, PostgreSQL Europe does not run local Meetups. However we run a number of <a href="/events/">local conferences</a>. Other local User Groups are listed on the <a href="https://www.postgresql.org/community/user-groups/">postgresql.org website</a>. Please refer to the <a href="https://www.postgresql.org/list/pgsql-advocacy/">-advocacy mailing list</a> to coordinate a new local Meetup.</dd>

    <dt>Can PostgreSQL Europe promote our event?</dt>
    <dd>PostgreSQL Europe in general does not promote other events. We recommend that you add your event on the <a href="https://www.postgresql.org/account/events/new/">postgresql.org website</a>. Please also check out the <a href="https://www.meetup.com/pro/postgresql">PostgreSQL Meetup</a> page.</dd>

    <dt>Can we post our newest book on the PostgreSQL Europe website?</dt>
    <dd>The <a href="https://www.postgresql.org/docs/books/">postgresql.org website</a> has a books section. Please send an email to the <a href="https://www.postgresql.org/list/pgsql-www/">-www mailing list</a> to add your book.</dd>

</dl>

<p>This FAQ may be updated infrequently.</p>
{%endblock%}
