{%extends "nav_about.html"%}
{%block title%}Legal{%endblock%}
{%block content%}
<h1>Legal Notices</h1>
<p>
PostgreSQL Europe is an association registered in France.
</p>
<ul>
 <li><b>Association Name:</b> PostgreSQL Europe</li>
 <li><b>Registered Address:</b> 61 rue de Lyon, 75012 PARIS, France</li>
 <li><b>Email Address:</b> board(at)postgresql.eu</li>
 <li><b>President:</b> Magnus Hagander</li>
 <li><b>Website Host:</b> PostgreSQL Europe</li>
 <li><b>VAT Number:</b> FR36823839535</li>
</ul>
{%endblock%}
