{%extends "nav_about.html"%}
{%block title%}Purchasing Terms &amp; Conditions{%endblock%}
{%block content%}
<h1>Purchasing Terms &amp; Conditions</h1>

<p>
  This page lists the general terms &amp; conditions for all purchases
  made on <strong>www.postgresql.eu</strong>.
</p>

<h3>General Terms</h3>
<p>
  PostgreSQL Europe sells memberships to the association, as well as
  attendance tickets, add-ons and sponsorships to events, physical or
  virtual, related to PostgreSQL. All payments are instant and
  one-time payments. No subscriptions are sold, and to renew a
  membership a completely new payment is made if the member chooses to
  renew the membership.
</p>
<p>
  PostgreSQL Europe uses multiple different payment providers, which
  can be selected during the payment. Our primary providers are
  <a href="https://adyen.com/">Adyen</a>, <a href="https://wise.com/">Wise</a>,
  <a href="https://paypal.com/">PayPal</a>
  and <a href="https://trustly.com/">Trustly</a>.  Details about each
  payment provider is given as part of the payment process.
</p>
<p>
  All payments are processed for PostgreSQL Europe, a French
  registered non-profit organisation. All interactions and contracts are governed
  by French law.
</p>

<h3>Privacy Policy</h3>
<p>
  PostgreSQL Europe stores minimal personal information related to
  payments made.
<ul>
 <li>
  For credit card payments, no data is stored other than
  the <em>type</em> of card used (e.g. Mastercard).
 </li>
 <li>
  For paypal payments, the e-mail address of and the name associated
  with the paypal account used to make the payment is stored.
 </li>
 <li>
  For bank transfer payments, the IBAN number of and name associated
  with the sending account is stored <em>if</em> it is sent by your
  bank.
 </li>
 <li>
  For Trustly payments, no data is stored.
 </li>
</ul>
</p>
<p>
  Depending on the requirements of the payment schemes, our payment
  providers may store further personal data such as card numbers or
  bank account details, temporarily or long-term, in order to provide
  the processing service.
</p>
<p>
  Depending on what is being purchased, we may store some personal
  details required to deliver that service, independent of the
  payment information. Please see our
  general <a href="/about/privacypolicy/">Privacy Policy</a> for
  details.
</p>

<h3>Refunds and cancellations</h3>
<p>
  Membership fees are non-refundable.
</p>
<p>
  For event tickets, add-ons and sponsorships, refunds are normally
  possible up to a certain amount of time before the event. Please see
  the cancellation policy of the individual event that is available
  when you sign up for your ticket(s). The event website will also
  contain instructions for how to request a refund.
</p>

<h3>Contact information</h3>
<p>
  For any questions regarding <em>payments</em>, please contact us
  at <b>treasurer(at)postgresql(dot)eu</b>.
</p>
<p>
  For any questions about an event that you have or are about to make
  a purchase for, please contact the individual event organisation
  team, listed on the event website.
</p>
<p>
  Also see our general <a href="/about/contact/">Contact Us</a> page.
</p>

{%endblock%}
