{%extends "nav_about.html"%}
{%block title%}2020 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2020 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2019-01-01</strong></td>
		<td><strong>2019-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right">127,127.23</td>
		<td align="right">178,319.71</td>
		<td align="right">51,192.48</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 1</td>
		<td align="right">62,207.05</td>
		<td align="right">62,673.60</td>
		<td align="right">466.55</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 2</td>
		<td align="right">10,041.91</td>
		<td align="right">10,082.92</td>
		<td align="right">41.01</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right">2,787.15</td>
		<td align="right">2,650.21</td>
		<td align="right">-136.94</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">1,500.00</td>
		<td align="right">1,500.00</td>
		<td align="right">0.00</td>
	</tr>
	<tr>
		<td>Trustly account</td>
		<td align="right">1,129.25</td>
		<td align="right">595.17</td>
		<td align="right">-534.08</td>
	</tr>
	<tr>
		<td>TransferWise account</td>
		<td align="right">0.00</td>
		<td align="right">2,664.38</td>
		<td align="right">2,664.38</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">-22.75</td>
		<td align="right">-187.99</td>
		<td align="right">-165.24</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em>204,769.84 </em></td>
		<td align="right"><em>258,298.00 </em></td>
		<td align="right"><em>53,528.16 </em></td>
	</tr>
</table>

<h2>Major items</h2>

<h3>Activities</h3>
<p>
The two saving accounts have not been used during 2019 since all
events have generated satisfactory financial results (exceeding or
hitting budget) thanks to strong sponsor income. As the events grow
larger and the number of events increase, the importance of this
buffer remains.
</p>

<p>
Our administrative backend software, which powers both our financial reporting
as well as the events, was again further improved ensuring safe operation of
our events.
</p>

<p>
We are working to get tax representatives in foreign countries (foreign
meaning not-France).
</p>

<h3>Income/Expenses</h3>

<p>
  The important items of 2020 are summarized here.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">720.00</td>
		<td align="right">0</td>
		<td align="right">720.00</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">1,878.82</td>
		<td align="right">0.00</td>
		<td align="right">1,878.82</td>
	</tr>
	<tr>
		<td>Book royalties</td>
		<td align="right">452.94</td>
		<td align="right">0.00</td>
		<td align="right">452.94</td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right">330,931.41</td>
		<td align="right">-256,507.89</td>
		<td align="right">74,423.52</td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right">2,620.66</td>
		<td align="right">-4,713.62</td>
		<td align="right">-2,092.96</td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right">507.56</td>
		<td align="right">-5,398.02</td>
		<td align="right">-4,890.46</td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0.00</td>
		<td align="right">-760.91</td>
		<td align="right">-760.91</td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td align="right">0.00</td>
		<td align="right">-8,403.00</td>
		<td align="right">-8,403.00</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>61,327.95 </em></td>
	</tr>
</table>


<p>
The financial results for our events can be seen broken down per event
in the table below. As most events these days have income and expense
spanning multiple days, we include the numbers from the previous year
as well. Some events in 2020 have had income or expenses during 2019,
but are not included in this table, only events that were actually
held during 2019 is included.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income 2018</strong></td>
    <td align="right"><strong>Expenses 2018</strong></td>
    <td align="right"><strong>Income 2019</strong></td>
    <td align="right"><strong>Expenses 2019</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>FOSDEM/PGDay 2019</td>
    <td align="right">1,869.40</td>
    <td align="right">10,547.51</td>
    <td align="right">3,235.33</td>
    <td align="right">2,030.85</td>
    <td align="right">-7,523.63</td>
  </tr>
  <tr>
    <td>Nordic PGDay 2019</td>
    <td align="right">8,700.00</td>
    <td align="right">249.24</td>
    <td align="right">9,172.00</td>
    <td align="right">14,373.90</td>
    <td align="right">3,248.86</td>
  </tr>
  <tr>
    <td>PGConf.DE 2019</td>
    <td align="right">7,750.00</td>
    <td align="right">0.00</td>
    <td align="right">18,780.00</td>
    <td align="right">17,363.57</td>
    <td align="right">9,166.43</td>
  </tr>
  <tr>
    <td>PGDay Paris 2019</td>
    <td align="right">11,245.00</td>
    <td align="right">7,841.39</td>
    <td align="right">11,030.02</td>
    <td align="right">12,480.34</td>
    <td align="right">1,953.29</td>
  </tr>
  <tr>
    <td>PGConf.EU 2019</td>
    <td align="right">0,00</td>
    <td align="right">17,756.78</td>
    <td align="right">269,351.58</td>
    <td align="right">143,525.87</td>
    <td align="right">108,068.93</td>
  </tr>
</table>

{%endblock%}
